<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Dashboard</title>

	<meta name="viewport" content="width=device-width">

    {% load static %}

    <script type="text/javascript" src="http://d3js.org/d3.v2.min.js?2.9.1"></script>
	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.pie.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/graph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/areaGraph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3.tip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sankey.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>
	<script type="text/javascript">
      var error_id = {{ iderror }};
      var project_id = "{{ projectid }}";
      var server_url = "{{ ServerURL }}"
	  $(document).ready(function(){
			$("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );
		});
	</script>


</head>

<body class="error" style="display: none;">
	<div id="container">
		<div id="popup-container">
			<div id="popup-notification"></div>
			<div id="popup-information">
				<div class="body half mini">
					<div>
						<div class="area">
							<span>Instance detail informations</span>
							<table class="small" style="margin-top: 5px">
								<thead><tr>
									<td class="center" style="width: 45%">Category</td>
									<td class="center">Value</td>
								</tr></thead>
								<tbody>
									<tr>
										<td class="left">OS Version</td>
										<td id = 'osversion' class="left">4.1.1</td>
									</tr>
									<tr>
										<td class="left">App Version</td>
										<td id = 'appversion' class="left">1.1</td>
									</tr>
									<tr>
										<td class="left">Device(Brand)</td>
										<td id = 'device' class="left">SHV-E250H</td>
									</tr>
									<tr>
										<td class="left">Country</td>
										<td id = 'country'class="left">KR</td>
									</tr>
									<tr>
										<td class="left">Free Memory</td>
										<td id = 'freememory' class="left">32MB</td>
									</tr>
									<tr>
										<td class="left">Memory usage</td>
										<td id = 'memoryusage' class="left">53MB</td>
									</tr>
									<tr>
										<td class="left">GPS</td>
										<td id = 'gps' class="left">On</td>
									</tr>
									<tr>
										<td class="left">Screen Orientation</td>
										<td id = 'screenorientation' class="left">Normal</td>
									</tr>
									<tr>
										<td class="left">Bettery</td>
										<td id = 'bettery' class="left">25%</td>
									</tr>
									<tr>
										<td class="left">Wifi</td>
										<td id = 'wifi'class="left">On</td>
									</tr>
									<tr>
										<td class="left">3G</td>
										<td id = 'mobile'class="left">Off</td>
									</tr>
									<tr>
										<td class="left">Screen Size</td>
										<td id = 'screensize'class="left">1024 x 768</td>
									</tr>
									<tr>
										<td class="left">Rooted</td>
										<td id = 'root'class="left">False</td>
									</tr>
									<tr>
										<td class="left">SDK Version</td>
										<td id = 'sdkversion'class="left">1.0</td>
									</tr>
									<tr>
										<td class="left">Locale</td>
										<td id = 'locale'class="left">한국어</td>
									</tr>
									<tr>
										<td class="left">Updated Date</td>
										<td id = 'date'class="left">2013-07-13 PM12:00</td>
									</tr>
									<tr>
										<td class="left">Instance ID</td>
										<td id = 'instanceid'class="left">#383985</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div>
						<div class="area">
							<span>Instance event path</span>
							<table class="small" style="margin-top: 5px">
								<thead><tr>
									<td style="width: 24%">Date</td>
									<td style="width: 36%">ClassName</td>
									<td>Method/Line</td>
								</tr></thead>
								<tbody id ='eventpath'>
									<!--
                                    <tr>
										<td class="center">2013.03.07<br>04:21:01</td>
										<td>Activity Create</td>
										<td>#3196<br>(HelloAndroid.java)</td>
									</tr>
									<tr>
										<td class="center">2013.03.07<br>04:25:05</td>
										<td>Custom Event</td>
										<td>#124<br>(ChangeSound.java)</td>
									</tr>
									<tr>
										<td class="center">2013.03.07<br>04:25:12</td>
										<td>Custom Event</td>
										<td>#333<br>(SlideActivity.java)</td>
									</tr>
									<tr>
										<td class="center">2013.03.07<br>04:25:33</td>
										<td>Custom Event</td>
										<td>#785<br>(FrontendViewer.java)</td>
									</tr>
									<tr>
										<td class="center">2013.03.07<br>04:25:53</td>
										<td>Custom Event</td>
										<td>#3164<br>(WindowsXP.java)</td>
									</tr>
									-->
								</tbody>
							</table>
							<div class="white-area"></div>
							<span>Log Data</span>
							<table class="small" style="margin-top: 5px">
								<thead><tr>
									<td style="width: 15%">Date</td>
                                    <!--
									<td style="width: 24%">Date</td>
									<td>Detail</td>
									-->
								</tr></thead>
								<tbody id ='log'>
									<!--
									<tr>
										<td class="center">Info</td>
										<td class="center">2013.03.07<br>04:21:01</td>
										<td>Start message logging</td>
									</tr>
									-->

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<div id="header">
				<a href="/urqa"><div class="logo"></div></a>
				<div class="navbar-menu">
					<ul>
						<li><a href='../../'>Insights</a></li>
						<li><a href='../'>Errors</a></li>
						<li><a href='../../statistics'>Statistics</a></li>
						<li><a>Settings</a></li>
					</ul>
				</div>
				<div class="navbar-profile">
					<div class="setting"></div>
					<div class="profile"><img src="{{ profile_url }}" alt="profile" /></div>
					<div id="profile-menu">
						<div class="inv-triangle"></div>
						<div class="color shadow">
							<img src="{{ profile_url }}" alt="profile" />
							<div class="text">
								<div class="name">{{ user_name }}</div>
                                <div class="user-style">{{ user_email }}</div>
							</div>
						</div>
						<div class="white shadow">
							<div class="content">
								<span>
									<p class="icon" data-name="profile"></p>
									<p class="text">PROFILE</p>
								</span>
								<span>
									<p class="notification" data="12"></p>
									<p class="icon" data-name="notification"></p>
									<p class="text">NOTIFICATION</p>
								</span>
								<span>
									<p class="icon" data-name="logout"></p>
									<p class="text"><a href='/urqa/user/logout'>LOGOUT</a></p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="color-line">
				<div class="color1"></div>
				<div class="color2"></div>
				<div class="color3"></div>
				<div class="color4"></div>
			</div>
		</div>
		<!--header-container fin-->

		<div id="content-container">
			<div class="title" data="critical"> Information</div>
			<div id="critical-information" class="content">
				<div id="error-score">
					<div>
						Error Score
						<p>{{ ErrorScore }}</p>
					</div>
				</div>
				<table>
					<tbody>
						<tr class="notHover">
							<td style="width: 120px">
								<div class="thumbnail large"></div>
								<div class="center">
                                    {% if isManual %}
                                        <span class="bold">Manual</span>&nbsp;Auto
                                    {% else %}
                                        Manual&nbsp;<span class="bold">Auto</span>
                                    {% endif %}
                                </div>
							</td>
							<td class="float">
								<p id="error-name">{{ ErrorName }}</p>
								<p id="error-file">{{ ErrorFile }}</p>
								<div class="float">
									<div class="infobox red">
										<span>occurrence</span>
										<label>{{ Errornumofinstances }}</label>
									</div>
									<div class="infobox red">
										<span>recur</span>
										<label>{{ Errorrecur }}%</label>
									</div>
									<div class="infobox red">
										<span>Status</span>
										<label>{{ Errorstatus }}</label>
									</div>
								</div>
								<div class="float">
									<div class="infobox">
										<span>WiFi</span>
										<label>{{ Errorswifi }}%</label>
									</div>
									<div class="infobox">
										<span>GPS</span>
										<label>{{ Errorsgps }}%</label>
									</div>
									<div class="infobox">
										<span>MobileNetwork</span>
										<label>{{ Errorsmobilenetwork }}%</label>
									</div>
									<div class="infobox">
										<span>MemoryUsage</span>
										<label>{{ Errorsmemoryusage }}MB</label>
									</div>
								</div>
								<span>TAG</span>
								<div id="error-tag-list" class="float">
									<div class="tags-list">
										<ul>
											<span></span>
                                            {% for tag in tag_list %}
											    <li>{{ tag }}</li>
                                            {% endfor %}
											<!-- 드랍다운 박스 필요 없음 태그 추가는 사용자가 하는일..
                                            <li class="dropdown">
												<a>Add More</a>
												<span></span>
												<div>
													 <ul>
													 	<li data-value="false"><a>4.1.1</a></li>
													 	<li data-value="true"><a>4.1.2</a></li>
													 	<li data-value="false"><a>4.1.3</a></li>
													 	<li data-value="false"><a>4.1.4</a></li>
													 	<li data-value="false"><a>4.1.5</a></li>
													 </ul>
												</div>
											</li>
											-->
										</ul>
										<input type="hidden" name="tag" />
									</div>
								</div>
							</td>
						</tr>
						<tr class="empty">
							<td></td>
							<td data-match="true"></td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
			<div class="title" data="event-path"></div>
			<div class="content">
				<table style="margin-top: -10px;">
					<tbody>
						<tr class="notHover">
							<td id="event-path-parent"><p id="chart"></p></td>
						</tr>
						<tr class="empty">
							<td data-match="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="title" data="call-stack"></div>
			<div id="call-stack" class="content">
				<table class="small">
					<thead><tr>
						<td class="center" style="width: 60px">Number</td>
						<td>Stack</td>
						<td class="center" style="width: 25%">Source</td>
					</tr></thead>
					<tbody>
                    {% for stackline in callstack %}
						<tr>
							<td class="center">{{ stackline.counter }}</td>
							<td class="float">
								<p>{{ stackline.value }}</p>
							</td>
							<td class="float center">
								<p>{{ stackline.source }}</p>
							</td>
						</tr>
					{% endfor %}
						<tr class="empty">
							<td></td>
							<td data-match="true"></td>
							<td data-match="true"></td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
			<div class="title" data="instance"></div>
			<div id="instance" class="content">
				<table class="small clickon">
					<thead><tr>
						<td class="center" style="width: 12%">Update Date</td>
						<td class="center" style="width: 11%">OS Version</td>
						<td class="center" style="width: 11%">APP Version</td>
						<td class="center">Device</td>
						<td class="center" style="width: 11%">Country</td>
						<td class="center" style="width: 11%">Event Path</td>
						<td class="center" style="width: 11%">Logs</td>
					</tr></thead>
					<tbody>
                        {% for instance in instance_list %}
                            <tr onclick="showPopupInformation(800, 400,{{ instance.idinstance }});">
							<td class="center">{{ instance.datetime}}</td>
							<td class="center">{{ instance.osversion }}</td>
							<td class="center">{{ instance.appversion }}</td>
							<td class="center">{{ instance.device }}</td>
							<td class="center">{{ instance.country }}</td>
							<td class="center">View</td>
							<td class="center">View</td>
                        {% endfor %}
						<!--
						    <tr onclick="showPopupInformation(800, 400);">
							<td class="center">2013.07.13</td>
							<td class="center">4.2.1</td>
							<td class="center">1.0</td>
							<td class="center">SHV-E250S</td>
							<td class="center">KR</td>
							<td class="center">View</td>
							<td class="center">View</td>
						</tr>
						-->

					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
		</div>
		<!--content-container fin-->

		<div id="footer-container">Copyright(C) UrQA 2013., Allright reserved.</div>
		<!--footer-container fin-->
	</div>

</body>
</html>