<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Error Details</title>

	<meta name="viewport" content="width=device-width">
    {% load static %}

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js?2.9.1"></script>
	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.pie.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/graph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/areaGraph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/d3.tip.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sankey.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/nv.d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/models/pie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/models/legend.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/models/pieChart.js' %}"></script>

    <link href="{% static 'css/nv.d3.css' %}" rel="stylesheet" type="text/css">

	<script type="text/javascript">
      var error_id = {{ iderror }};
      var project_id = "{{ projectid }}";
      var server_url = "{{ ServerURL }}"
	  $(document).ready(function(){
			$("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );

          /*
           var options = {
                success: function(data)
                {
                     alert(data);
                    $("#symbolUpload").show();
                    $("#symbolUploading").hide();

                },
                error: function()
                {
                }
            };
           $("#symbolUpload").ajaxForm(options)
            */
           // Click to Dropdown component's item event
            $(".updated-dropdown:not(.multiple)").each(function(){
                $(this).children("div").children("ul").children("li").click(function(obj) {
                $(this).parent().children("li[data-value=\"true\"]").attr("data-value", "false");
                if($(this).attr("data-value") == "true")
                    $(this).attr("data-value", "false");
                else
                    $(this).attr("data-value", "true");
                $(this).parent().parent().parent().children("a").html($(this).children("a").html());
                $(this).parent().parent().parent().children("input").attr("value", $(this).index() + 1);

                $(this).parent().parent().hide();

                var csrftoken = getCookie('csrftoken')
                var status = $(this).index()
                $.ajax({
                      type: 'post'
                    , url: 'status'
                    , data: {'status' : status}
                    , beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                })
                });
            });
		});
	</script>

 </head>

<body class="error" style="display: none;">
	<div id="container">
		<!--<div id="popup-notification">
			<div data-href="#">
				<span></span>
				<label>This is the notification area</label>
				<p>Check the <i>Notifications</i> section for more information.</p>
			</div>
			<div data-href="#">
				<span></span>
				<label>Welcome to UrQA</label>
				<p>UrQA에 오신 것을 환영합니다. 당신의 프로젝트에서 발생하는 <b>다양한 문제</b>를 여기에서 해결할 수 있기를 바랍니다!</p>
			</div>
		</div>-->
		<div id="popup-container">
			<div id="popup-modifyproject">
				<div class="body">
					<form onsubmit="return modifiProject(this);">
						<div class="half">
							<div>
								<div class="area">
									<span>APP Name</span>
									<input name="appname" type="input" value="{{ project_name }}" />
									<span>Device</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											 <ul id = 'platform_list'>
                                              {% for key,value in app_platformlist %}
                                                <li value="{{ value }}"><a>{{ key }}</a></li>
                                             {% endfor %}
											 </ul>
										</div>
										<input type="hidden" name="device_type" value="{{ platform_number }}" />
									</div>
									<span>APP Category</span>
									<div class="dropdown">
										<a>Game</a>
										<span></span>
										<div>
											 <ul id = 'category_list'>
                                             {% for key,value in app_categorylist %}
                                                <li value="{{ value }}"><a>{{ key}}</a></li>
                                            {% endfor%}
											 </ul>
										</div>
										<input type="hidden" name="app_category" value="{{ category_number }}" />
									</div>
									<span>Stage</span>
									<div class="dropdown">
										<a>Test</a>
										<span></span>
										<div>
											 <ul id = 'stage_list'>
                                             {% for key, value in app_stagelist %}
                                                <li value="{{ value }}"><a>{{ key }}</a></li>
                                             {% endfor %}
											 </ul>
										</div>
										<input type="hidden" name="stage" value="{{ stage_number }}" />
									</div>
								</div>
							</div>
							<div>
								<div class="area">
									<span>Timezone</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											 <ul id = 'timezone_list'>
											 	{% for timezone in timezonelist %}
											 	<li><a>{{ timezone }}</a></li>
                                                {% endfor %}
											 </ul>
										</div>
										<input type="hidden" name="device_type" value="{{ timezone_number }}" />
									</div>
									<span>Viewer</span>
									<div class="y-scroll" style="width: 310px; height: 166px;">
										<div style="width: 285px; margin: auto;">
											<table id="viewer-list" class="content-small">
												<thead><tr>
													<td>Viewer</td>
                                                    {% if owner_user %}
													<td style="width: 80px"></td>
                                                    {% endif %}
												</tr></thead>
												<tbody>
                                                    {% for viewer in project_viewerlist %}
                                                    <tr>
														<td class="float"><p>{{ viewer }}</p></td>
                                                        {% if owner_user %}
														<td>
															<div class="button red event" onclick="deleteviewer(this)" data-name="Remove" style="width: 74px; height: 26px; margin: 2px;"></div>
														</td>
                                                        {% endif %}
													</tr>
                                                    {% endfor %}
                                                    {% if owner_user %}
													<tr id = 'addviewer'>
														<td colspan="2"><input name="userid" type="input" onkeypress="return submitViewer(event, this)" value="" /></td>
													</tr>
                                                    {% endif %}
													<tr class="empty">
														<td data-match="true"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="white-area"></div>
                        {% if owner_user %}
						<div style="margin: auto">
							<div class="button purple" data-name="Modify Project" style="width: 210px; height: 39px"></div>
							<span></span>
							<div class="button red event" data-name="Remove Project" data-event="showConfirm()" style="width: 210px; height: 24px"></div>
						</div>
                        {% endif %}
					</form>
				</div>
			</div>
			<div id="warning-alert">
				<div class="body">
					<div class="half">
						<div>
							<div class="area">
								<span></span>
							</div>
						</div>
						<div>
							<div class="area">
								<p>DELETE PROJECT</p>
								<p>This action cannot be undone.</p>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
					<div class="line"></div>
					<div class="half">
						<div>
							<div class="area">
								<div class="button white" onclick="confirmCancel()" data-name="CANCEL"></div>
							</div>
						</div>
						<div>
							<div class="area">
								<div class="button red" onclick="confirmProcess()" data-name="CONFIRM"></div>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
				</div>
			</div>
			<div id="popup-information">
				<div class="body mini">
					<span>Instance detail informations</span>
					<table class="small" style="margin-top: 5px">
                        <thead><tr>
                            <td class="center" style="width: 45%">Category</td>
                            <td class="center">Value</td>
                        </tr></thead>
                        <tbody>
                            <tr>
                                <td class="left">OS Version</td>
                                <td id = 'osversion' class="left">4.1.1</td>
                            </tr>
                            <tr>
                                <td class="left">App Version</td>
                                <td id = 'appversion' class="left">1.1</td>
                            </tr>
                            <tr>
                                <td class="left">Device(Brand)</td>
                                <td id = 'device' class="left">SHV-E250H</td>
                            </tr>
                            <tr>
                                <td class="left">Country</td>
                                <td id = 'country'class="left">KR</td>
                            </tr>
                            <tr>
                                <td class="left">Free Memory</td>
                                <td id = 'freememory' class="left">32MB</td>
                            </tr>
                            <tr>
                                <td class="left">Memory usage</td>
                                <td id = 'memoryusage' class="left">53MB</td>
                            </tr>
                            <tr>
                                <td class="left">GPS</td>
                                <td id = 'gps' class="left">On</td>
                            </tr>
                            <tr>
                                <td class="left">Screen Orientation</td>
                                <td id = 'screenorientation' class="left">Normal</td>
                            </tr>
                            <tr>
                                <td class="left">Bettery</td>
                                <td id = 'bettery' class="left">25%</td>
                            </tr>
                            <tr>
                                <td class="left">Wifi</td>
                                <td id = 'wifi'class="left">On</td>
                            </tr>
                            <tr>
                                <td class="left">3G</td>
                                <td id = 'mobile'class="left">Off</td>
                            </tr>
                            <tr>
                                <td class="left">Screen Size</td>
                                <td id = 'screensize'class="left">1024 x 768</td>
                            </tr>
                            <tr>
                                <td class="left">Rooted</td>
                                <td id = 'root'class="left">False</td>
                            </tr>
                            <tr>
                                <td class="left">SDK Version</td>
                                <td id = 'sdkversion'class="left">1.0</td>
                            </tr>
                            <tr>
                                <td class="left">Locale</td>
                                <td id = 'locale'class="left">한국어</td>
                            </tr>
                            <tr>
                                <td class="left">Updated Date</td>
                                <td id = 'date'class="left">2013-07-13 PM12:00</td>
                            </tr>
                            <tr>
                                <td class="left">Instance ID</td>
                                <td id = 'instanceid'class="left">#383985</td>
                            </tr>
                        </tbody>
                    </table>
				</div>
			</div>
			<div id="popup-eventpath">
				<div class="body mini">
					<span>Instance event path</span>
					<table class="small" style="margin-top: 5px">
						<thead><tr>
                            <td style="width: 24%">Date</td>
                            <td style="width: 36%">ClassName</td>
                            <td>Method/Line</td>
                        </tr></thead>
						<tbody id ='eventpath'></tbody>
					</table>
				</div>
			</div>
			<div id="popup-logdata">
				<div class="body mini">
					<span>Log Data</span>
					<table class="small" style="margin-top: 5px">
						<thead><tr>
							<td style="width: 15%">Date</td>
						</tr></thead>
						<tbody id ='log'></tbody>
					</table>
				</div>
			</div>
			<div id="popup-uploadsymbol">
				<div class="body mini">
					<span>Upload Symbol</span>
					<!--<iframe id="uploadTrg" name="uploadTrg" width="0" height="0" frameborder="0" scrolling="yes"></iframe>-->
					<form id="symbolUpload" action="/urqa/project/{{ projectid }}/symbol/upload" method="post" enctype="multipart/form-data" onsubmit="so_file_submit()">
                        {% csrf_token %}
                        <table class="small" style="margin-top: 5px">
							<tbody><tr>
                                <td>
                                    App Version
                                </td>
								<td>
                                    <input type="text" name="version" value=""  style="width: 50px;"/>
                                </td>
                                <td class="center" style="width: 70px;">Select File</td>
								<td><input type="file" name="file" style="width: 100%;"></td>
								<td style="width: 100px"><div class="button purple" data-name="Upload" style="width: 96px; height: 25px"></div></td>
							</tr></tbody>
						</table>
					</form>
					<form id="symbolUploading">
						<table class="small" style="margin-top: 5px">
							<tbody><tr>
								<td class="center" style="width: 74px;">Select File</td>
								<td>Symbol-file Uploading...</td>
							</tr></tbody>
						</table>
					</form>
					<div class="white-area" style="height: 16px !important;"></div>
					<span>Symbol List</span>
					<div class="y-scroll">
						<div>
							<table class="content-small">
								<thead><tr>
									<td style="width: 84px">APP Version</td>
									<td style="width: 90px">Symbol</td>
									<td>Version Key</td>
									<td style="width: 74px">Uploaded</td>
								</tr></thead>
								<tbody>
                                    {% for sofile in so_file_list %}
									<tr>
										<td class="center">{{ sofile.appversion }}</td>
										<td class="float"><p>{{ sofile.filename }}</p></td>
										<td class="float"><p>{{ sofile.versionkey }}</p></td>
									</tr>
                                    {% endfor %}

									<tr class="empty">
										<td></td>
										<td data-match="true"></td>
										<td data-match="true"></td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<div id="header">
				<a href="/urqa"><div class="logo"></div></a>
				<div class="navbar-menu">
					<ul>
						<li><a href="../../">Insights</a></li>
						<li><a href="../">Errors</a></li>
						<li><a href="../../statistics/">Statistics</a></li>
                        <li><a onclick="showPopupModifyProject();">Settings</a></li>
					</ul>
				</div>
				<div class="navbar-profile">
					<div class="profile"><img src="{{ profile_url }}" alt="profile" /></div>
					<div id="profile-menu">
						<div class="inv-triangle"></div>
						<div class="color shadow">
                            <img src="{{ profile_url }}" alt="profile" />
							<div class="text">
								<div class="name">{{ user_name }}</div>
                                <div class="user-style">{{ user_email }}</div>
							</div>
						</div>
						<div class="white shadow">
							<div class="content">
								<span>
									<p class="icon" data-name="profile"></p>
									<p class="text">PROFILE</p>
								</span>
								<span onclick="openNotification();">
									<p class="notification" data="0"></p>
									<p class="icon" data-name="notification"></p>
									<p class="text">NOTIFICATION</p>
								</span>
								<span>
									<p class="icon" data-name="logout"></p>
									<p class="text"><a href='/urqa/user/logout'>LOGOUT</a></p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="color-line">
				<div class="color1"></div>
				<div class="color2"></div>
				<div class="color3"></div>
				<div class="color4"></div>
			</div>
		</div>
		<!--header-container fin-->

		<div id="content-container">
			<div class="title" data="critical"> Information<span> {{ project_name }}({{ project_platform }})</span></div>
			<div id="critical-information" class="content">
				<div id="error-score">
					<div>
						Error Score
						<p>{{ ErrorScore }}</p>
					</div>
				</div>
				<table>
					<tbody>
						<tr class="notHover">
							<td style="width: 120px">
								<div class="thumbnail large {{ ErrorRankColor }}"></div>
								<div class="center">
                                     {% if isManual %}
                                        <span class="bold">Manual</span>&nbsp;Auto
                                    {% else %}
                                        Manual&nbsp;<span class="bold">Auto</span>
                                    {% endif %}
								</div>
							</td>
							<td class="float">
								<p id="error-name">{{ ErrorName }}</p>
								<p id="error-file">{{ ErrorFile }}</p>
								<div class="float">
									<div class="infobox red">
										<span class="createdate"></span>
										<label>{{ createdate }}</label>
									</div>
									<div class="infobox red">
										<span class="updatedate"></span>
										<label>{{ lastdate }}</label>
									</div>
									<div class="infobox red">
										<span class="occur"></span>
										<label>{{ Errornumofinstances }}</label>
									</div>
									<div class="infobox red">
										<span class="reappear"></span>
										<label>{{ Errorrecur }}%</label>
									</div>
									<div class="infobox red">
										<span class="status"></span>
										<label>
											<div class="updated-dropdown dropdown"">
												<a>Ignore</a>
												<span></span>
												<div>
													 <ul>
													 	<li><a>New</a></li>
													 	<li><a>Open</a></li>
													 	<li><a>Fixed</a></li>
													 	<li><a>Ignore</a></li>
													 </ul>
												</div>
												<input type="hidden" name="status1" value="{{ ErrorStatus }}" />
											</div>
										</label>
									</div>
								</div>
								<div class="float">
									<div class="infobox">
										<span class="wifi"></span>
										<label>{{ Errorswifi }}%</label>
									</div>
									<div class="infobox">
										<span class="gps"></span>
										<label>{{ Errorsgps }}%</label>
									</div>
									<div class="infobox">
										<span class="mobilenetwork"></span>
										<label>{{ Errorsmobilenetwork }}%</label>
									</div>
									<div class="infobox">
										<span class="memory"></span>
										<label>{{ Errorsmemoryusage }}MB</label>
									</div>
								</div>
								<span>TAG</span>
								<div id="error-tag-list" class="float">
									<div class="tags-list user-input">
										<ul id = 'newtag'>
											<span></span>
											{% for tag in tag_list %}
											    <li>{{ tag }}<i></i></li>
                                            {% endfor %}
											<li class="dropdown" id ='inputtag'>
												<a>Add More</a>
												<span></span>
												<input type="input" />
											</li>
										</ul>
										<input type="hidden" name="tag" />
									</div>
								</div>
							</td>
						</tr>
						<tr class="empty">
							<td></td>
							<td data-match="true"></td>
						</tr>
					</tbody>
				</table>
				<div id="popup-info">
					<div id="popup-tri"></div>
					<div id="popup-body">
						<div id="popup-title">Basic Rule</div>
					</div>
				</div>
				<div class="white-area"></div>
			</div>
			<div class="title" data="statistic">s</div>
			<div class="content quarter">
				<div>
					<div class="area">
						<table style="margin-top: -10px;">
                            <thead><tr><td>OS Version</td></tr></thead>
							<tbody>
								<tr class="notHover">
									<td id="osver"><svg></svg></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<div class="area">
						<table style="margin-top: -10px;">
                            <thead><tr><td>APP Version</td></tr></thead>
							<tbody>
								<tr class="notHover">
									<td id="appver"><svg></svg></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<div class="area">
						<table style="margin-top: -10px;">
							<tbody>
                             <thead><tr><td>Device</td></tr></thead>
								<tr class="notHover">
									<td id="dever"><svg></svg></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div>
					<div class="area">
						<table style="margin-top: -10px;">
                            <thead><tr><td>Country</td></tr></thead>
							<tbody>
								<tr class="notHover">
									<td id="counver"><svg></svg></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="white-area"></div>
			<div class="title" data="event-path"></div>
			<div class="content">
				<table style="margin-top: -10px;">
					<tbody>
						<tr class="notHover">
							<td id="event-path-parent"><p id="chart"></p></td>
						</tr>
						<tr class="empty">
							<td data-match="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="title" data="call-stack"></div>
			<div class="table-button">
				<div class="button black" onclick="showPopupSymbolUpload()" data-name="Upload Symbol"></div>
			</div>
			<div id="call-stack" class="content">
				<table class="small">
					<thead><tr>
						<td class="center" style="width: 60px">Number</td>
						<td>Stack</td>
						<td class="center" style="width: 25%">Source</td>
					</tr></thead>
					<tbody>
                    {% for stackline in callstack %}
                        <tr>
                            <td class="center">{{ stackline.counter }}</td>
                            <td class="float">
                                <p>{{ stackline.value }}</p>
                            </td>
                            <td class="float center">
                                <p>{{ stackline.source }}</p>
                            </td>
                        </tr>
                    {% endfor %}
						<tr class="empty">
							<td></td>
							<td data-match="true"></td>
							<td data-match="true"></td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
			<div class="title" data="instance"></div>
			<div id="instance" class="content">
				<table class="small clickon">
					<thead><tr>
						<td class="center" style="width: 12%">Update Date</td>
						<td class="center" style="width: 11%">OS Version</td>
						<td class="center" style="width: 11%">APP Version</td>
						<td class="center">Device</td>
						<td class="center" style="width: 11%">Country</td>
						<td class="center" style="width: 11%">Event Path</td>
						<td class="center" style="width: 11%">Logs</td>
					</tr></thead>
					<tbody>
                        {% for instance in instance_list %}
						<tr>
							<td class="center" onclick="showPopupInformation(400, 400,{{ instance.idinstance }});">2013.07.13</td>
							<td class="center" onclick="showPopupInformation(400, 400,{{ instance.idinstance }});">4.2.1</td>
							<td class="center" onclick="showPopupInformation(400, 400,{{ instance.idinstance }});">1.0</td>
							<td class="center" onclick="showPopupInformation(400, 400,{{ instance.idinstance }});">SHV-E250S</td>
							<td class="center" onclick="showPopupInformation(400, 400,{{ instance.idinstance }});">KR</td>
							<td class="center" onclick="showPopupEventpath(400, 400, {{ instance.idinstance }});">View</td>
							<td class="center" onclick="showPopupLogdata(800, 400,{{ instance.idinstance }});">View</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
			<div id="comments" class="content">
				<table class="content-small">
					<thead><tr>
						<td colspan="2">Comments</td>
						<td class="center" style="width: 12%">Date</td>
						<td class="center" style="width: 100px">Remove</td>
					</tr></thead>
					<tbody>
                        {% for comment in comment_list %}
						<tr>
							<td class="float" style="width: 32px">
								<img src="{{ comment.imagesrc }}" />
							</td>
							<td class="float"><p>{{ comment.name }}</p><p>{{ comment.comment }}</p></td>
							<td>{{ comment.date }}</td>
							<td>
                                {% if comment.ownercomment %}
								<div class="button red" onclick="commentdelete(this,{{ comment.id }})" data-name="Remove" style="width: 74px; height: 26px; margin: 2px;"></div>
                                {% endif %}
							</td>

						</tr>
                        {% endfor %}
						<tr id = 'inputcomment'>
							<td colspan="3"><input name="userid" type="input" onkeypress="return submitComment(event, this)" style="width: 100%; margin-left: -12px; padding-right: 0px;" value="" /></td>
						</tr>
						<tr class="empty">
							<td></td>
							<td data-match="true"></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
		</div>
		<!--content-container fin-->

		<div id="footer-container">Copyright(C) UrQA 2013., Allright reserved.</div>
		<!--footer-container fin-->
	</div>

</body>
</html>