<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Dashboard</title>

	<meta name="viewport" content="width=device-width">

	{% load static %}

	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.pie.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/graph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/areaGraph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>

	<script type="text/javascript">
        var project_id = "{{ projectid }}";
        var server_url = "{{ ServerURL }}"

        $("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );

        function clickevent(id)
        {
            location.href = './' + id
        }

        setTimeout(function (){
            $('.checkbox').click(query_delay);
            $('.radiobox').click(query_delay);
            $('.scrollbar').click(query_delay);
            $('.tags-list').click(query_delay);
            query_delay()
        },100)
        tID = 0;
        function query_delay(){
            if(tID != 0)
                clearTimeout(tID);
            tID = setTimeout(query_maker,100)
        }
        function query_maker(){
            tID = 0

            //Rank
            rank_chk = $('#rank_tr>td>div[data-value="checked"]');
            var rank_list=[];
            for(var i=0;i<rank_chk.length;i++)
            {
                if(Number(rank_chk.eq(0).attr('value')) == 4)
                {
                    rank_list.push(0);
                    rank_list.push(1);
                    rank_list.push(2);
                    rank_list.push(3);
                }
                else rank_list.push(Number(rank_chk.eq(i).attr('value')))
            }
            //Status
            status_idx = $('#status_tr>td>div>span[data-value="checked"]').parent().attr('data-value');
            //Date
            date_idx = $('.scrollbar>ul>li[data-value="true"]').attr('value')


            //Tags
            tags = $('.tags-list:not(.classes-list)>ul>li:not(.dropdown)')
            tag_list = []
            for(var i=0;i<tags.length;i++)
                tag_list.push(tags.eq(i).text())

            //Classes
            classes = $('.classes-list>ul>li:not(.dropdown)')
            class_list = []
            for(var i=0;i<classes.length;i++)
                class_list.push(classes.eq(i).text())

            osv_list = []
            osv = $('#osvtr').find('.checkbox[data-value="checked"]:not(.half)')
            for(var i=0;i<osv.length;i++)
                osv_list.push(osv.eq(i).children('label').text())

            appv_list = []
            appv = $('#appvtr').find('.checkbox[data-value="checked"]:not(.half)')
            for(var i=0;i<appv.length;i++)
                appv_list.push(appv.eq(i).children('label').text())

            $.ajax( {
                 type :'POST'
                ,asyn :true
                ,url :'./list'
                ,dataType :"json"
                ,data:{'json':JSON.stringify({
                    'rank':rank_list,
                    'status':status_idx,
                    'date':date_idx,
                    'tags':tag_list,
                    'classes':class_list,
                    'appv':appv_list,
                    'osv':osv_list
                })}
                ,success : function(jsonData) {
                    // unhandled = 0, native = 1, critical = 2, major = 3, minor = 4
                    rank2str = ['gray','purple','red','blue','green']
                    status2str = ['New','Open','Fixed','Ignore']
                    $('.content-large>tbody').empty();
                    if(jsonData.length == 0)
                        $('.noerror_msg').show()
                    else
                        $('.noerror_msg').hide()
                    for(var i=0;i<jsonData.length;i++)
                    {
                        auto_str = ''
                        if(jsonData[i].auto == 1)   auto_str = '(Auto)';
                        tags = ''
                        for(var j=0;j<jsonData[i].tags.length;j++)
                            tags += '<li>' + jsonData[i].tags[j] + '<i></i></li>';
                        new_list = $('<tr iderror="'+ jsonData[i].iderror +'">\
							<td class="center"><span class="bold">'+jsonData[i].es+'</span><br>'+auto_str+'</td>\
							<td class="float" onclick="clickevent('+jsonData[i].iderror+')">\
								<span class="' + rank2str[jsonData[i].rank] + '"></span>\
								<p>'+jsonData[i].errorname + '<br>' + jsonData[i].errorclassname + ':' + jsonData[i].linenum+'</p>\
							</td>\
							<td><p>\
								<div class="updated-tags tags-list user-input">\
									<ul>'+
										tags
										+'<li class="updated-dropdown dropdown">\
											<a>Add Tags</a>\
											<span></span>\
											<input type="input" />\
										</li>\
									</ul>\
									<input type="hidden" name="tag'+i+'" />\
								</div>\
							</p></td>\
							<td class="center">\
								<div class="updated-dropdown dropdown">\
									<a style="width: 18px">'+status2str[jsonData[i].status]+'</a>\
									<span></span>\
									<div>\
										 <ul>\
										 	<li><a>New</a></li>\
										 	<li><a>Open</a></li>\
										 	<li><a>Fixed</a></li>\
										 	<li><a>Ignore</a></li>\
										 </ul>\
									</div>\
									<input type="hidden" name="status'+i+'" value="'+jsonData[i].status+'" />\
								</div>\
							</td>\
							<td class="center">'+jsonData[i].count+'</td>\
							<td class="center small">'+jsonData[i].year+'<br>'+jsonData[i].month+'/'+jsonData[i].day+'</td>\
						</tr>')
                        $('.content-large>tbody').append(new_list);
                        /*
                        tags = ''
                        auto_str = ''
                        if(jsonData[i].auto == 1)   auto_str = '(Auto)';
                        for(var j=0;j<jsonData[i].tags.length;j++)
                        {
                            tags += '<li>' + jsonData[i].tags[j] + '<i></i></li>';
                            //if(j < jsonData[i].tags.length-1)
                            //    tags += ', ';
                        }
                        tags += '<li class="dropdown">\
                                    <a>Add More</a>\
									<span></span>\
									<input type="input" />\
								</li>'
                        new_list = $('<tr iderror="'+ jsonData[i].iderror +'">\
                            <td class="center">' +
                            jsonData[i].es +
                            '<br>'+
                            auto_str +
                            '</td>\
                            <td class="float">\
                            <span class="' + rank2str[Number(jsonData[i].rank)] + '"></span>\
                            <p>' +
                            jsonData[i].errorname + '<br>' + jsonData[i].errorclassname + ':' + jsonData[i].linenum +
                            '</p>\
                            </td>\
                            <td><p>\
                            <div class="tags-list user-input">\
                            <ul>' +
                            tags +
                            '</ul>\
                            </p></td>\
                            <td class="center">' +
                            jsonData[i].status +
                            '</td>\
                            <td class="center">' +
                            jsonData[i].count +
                            '</td>\
                            <td class="center small">' +
                            jsonData[i].year + '<br>' + jsonData[i].month + '/' + jsonData[i].day +
                            '</td>\
                            </tr>')
                        new_list.click(function(){
                            location.href = './' + $(this).attr('iderror');
                        });
                        $('.content-large>tbody').append(new_list)*/
                    }
                    $('.content-large>tbody').append($('<tr class="empty">\
							<td data-match="true"></td>\
							<td data-match="true"></td>\
							<td></td>\
							<td></td>\
							<td></td>\
							<td></td>\
						</tr>'))
                    tableResizing();
                    adjustErrorListStyle();
                }
                , beforeSend: function(xhr, settings) {
                    var csrftoken = getCookie('csrftoken')
                    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                        // Send the token to same-origin, relative URLs only.
                        // Send the token only if the method warrants CSRF protection
                        // Using the CSRFToken value acquired earlier
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
        }
    </script>
</head>

<body class="errors" style="display: none;">
	<div id="container">
        <div id="popup-container">
			<div id="popup-modifyproject">
				<div class="body">
					<form onsubmit="return modifiProject(this);">
						<div class="half">
							<div>
								<div class="area">
									<span>APP Name</span>
                                    {% if owner_user %}
									    <input name="appname" type="input" value="{{ project_name }}" />
                                    {% else %}
                                        <table id="viewer-list" class="content-small">
                                            <tbody><tr>
                                                <td>{{ project_name }}</td>
                                            </tr></tbody>
                                        </table>
                                        <!--<div class="dropdown simple">
                                        <a>{{ project_name }}</a>
                                        <span></span>
                                        </div>-->
                                    {% endif %}
									<span>Device</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											<ul id = 'platform_list'>
                                            {% for key,value in app_platformlist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == platform_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											</ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="device_type" value="{{ platform_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
									</div>
									<span>APP Category</span>
									<div class="dropdown">
										<a>Game</a>
										<span></span>
										<div>
											<ul id = 'category_list'>
                                            {% for key,value in app_categorylist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == category_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											</ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="app_category" value="{{ category_number }}" />
                                        {% else %}
                                        <input type="hidden" name="app_category" value="0" />
                                        {% endif %}
									</div>
									<span>Stage</span>
									<div class="dropdown">
										<a>Test</a>
										<span></span>
										<div>
											 <ul id = 'stage_list'>
                                             {% for key,value in app_stagelist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == stage_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											 </ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="stage" value="{{ stage_number }}" />
                                        {% else %}
                                        <input type="hidden" name="stage" value="0" />
                                        {% endif %}
									</div>
								</div>
							</div>
							<div>
								<div class="area">
									<span>Timezone</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											 <ul id = 'timezone_list'>
                                                {% for timezone in timezonelist %}
                                                    {% if owner_user %}
                                                        <li><a>{{ timezone }}</a></li>
                                                    {% else %}
                                                        {% if forloop.counter == timezone_number %}
                                                            <li><a>{{ timezone }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
											 </ul>
										</div>
                                        {% if owner_user %}
										<input type="hidden" name="device_type" value="{{ timezone_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
									</div>
									<span>Viewer</span>
									<div class="y-scroll" style="width: 310px; height: 166px;">
										<div style="width: 285px; margin: auto;">
											<table id="viewer-list" class="content-small">
												<thead><tr>
													<td>Viewer</td>
                                                    {% if owner_user %}
													<td style="width: 80px"></td>
                                                    {% endif %}
												</tr></thead>
												<tbody>
                                                    {% for viewer in project_viewerlist %}
                                                    <tr>
														<td class="float"><p>{{ viewer }}</p></td>
                                                        {% if owner_user %}
														<td>
															<div class="button red event" onclick="deleteviewer(this)" data-name="Remove" style="width: 74px; height: 26px; margin: 2px;"></div>
														</td>
                                                        {% endif %}
													</tr>
                                                    {% endfor %}
                                                    {% if owner_user %}
													<tr id = 'addviewer'>
														<td colspan="2"><input name="userid" type="input" onkeypress="return submitViewer(event, this)" value="" /></td>
													</tr>
                                                    {% endif %}
													<tr class="empty">
														<td data-match="true"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="white-area"></div>
                        {% if owner_user %}
						<div style="margin: auto">
							<div class="button purple" data-name="Modify Project" style="width: 210px; height: 39px"></div>
							<span></span>
							<div class="button red event" data-name="Remove Project" data-event="showConfirm()" style="width: 210px; height: 24px"></div>
						</div>
                        {% endif %}
					</form>
				</div>
			</div>
			<div id="warning-alert">
				<div class="body">
					<div class="half">
						<div>
							<div class="area">
								<span></span>
							</div>
						</div>
						<div>
							<div class="area">
								<p>DELETE PROJECT</p>
								<p>This action cannot be undone.</p>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
					<div class="line"></div>
					<div class="half">
						<div>
							<div class="area">
								<div class="button white" onclick="confirmCancel()" data-name="CANCEL"></div>
							</div>
						</div>
						<div>
							<div class="area">
								<div class="button red" onclick="confirmProcess()" data-name="CONFIRM"></div>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<div id="header">
				<a href="/urqa"><div class="logo"></div></a>
				<div class="navbar-menu">
					<ul>
						<li><a href="../">Insights</a></li>
						<li><a href="./">Errors</a></li>
						<li><a href='../statistics'>Statistics</a></li>
						<li><a onclick="showPopupModifyProject();">Settings</a></li>
					</ul>
				</div>
				<div class="navbar-profile">
					<div class="profile"><img src="{{ profile_url }}" alt="profile" /></div>
					<div id="profile-menu">
						<div class="inv-triangle"></div>
						<div class="color shadow">
							<img src="{{ profile_url }}" alt="profile" />
							<div class="text">
								<div class="name">{{ user_name }}</div>
                                <div class="user-style">{{ user_email }}</div>
							</div>
						</div>
						<div class="white shadow">
							<div class="content">
								<span>
									<p class="icon" data-name="profile"></p>
									<p class="text">PROFILE</p>
								</span>
								<span>
									<p class="notification" data="0"></p>
									<p class="icon" data-name="notification"></p>
									<p class="text">NOTIFICATION</p>
								</span>
								<span>
									<p class="icon" data-name="logout"></p>
									<p class="text"><a href='/urqa/user/logout'>LOGOUT</a></p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="color-line">
				<div class="color1"></div>
				<div class="color2"></div>
				<div class="color3"></div>
				<div class="color4"></div>
			</div>
		</div>
		<!--header-container fin-->

		<div id="content-container">
			<div class="title" data="errors"><span> {{ project_name }}({{ project_platform }})</span></div>
			<div id="errors_filter" class="content">
				<table class="small top">
					<thead><tr>
						<td>Filter</td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
					</tr></thead>
					<tbody>
						<!-- Rank -->
						<tr id="rank_tr">
							<td>Rank</td>
							<td>
								<div class="checkbox red" value="4">
									<span></span>
									<label>All</label>
									<input type="hidden" name="rank[]" data-value="All" value="All" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="0">
									<span></span>
									<label>Unhandled</label>
									<input type="hidden" name="rank[]" data-value="Unhalded" />
								</div>
							</td>
                            <td>
								<div class="checkbox" value="1">
									<span></span>
									<label>Native</label>
									<input type="hidden" name="rank[]" data-value="Unhalded" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="2">
									<span></span>
									<label>Critical</label>
									<input type="hidden" name="rank[]" data-value="Critical" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="3">
									<span></span>
									<label>Major</label>
									<input type="hidden" name="rank[]" data-value="Major" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="4">
									<span></span>
									<label>Minor</label>
									<input type="hidden" name="rank[]" data-value="Minor" />
								</div>
							</td>
						</tr>

						<!-- Date -->
						<tr style="height: 60px">
							<td>Date</td>
							<td colspan="6">
								<div class="scrollbar">
									<ul>
										<li value="1">
											<span></span>
											<a>1 Day</a>
											<a>1 Day</a>
										</li>
										<li value="7">
											<span></span>
											<a>7 Days</a>
											<a>1 Week</a>
										</li>
										<li value="30">
											<span></span>
											<a>30 Days</a>
											<a>1 Month</a>
										</li>
										<li value="90">
											<span></span>
											<a>90 Days</a>
											<a>3 Months</a>
										</li>
										<li value="180">
											<span></span>
											<a>180 Days</a>
											<a>6 Months</a>
										</li>
										<li value="10000">
											<span></span>
											<a>Unlimited</a>
											<a>Unlimited</a>
										</li>
									</ul>
									<input type="hidden" name="date" value="7 Days" />
								</div>
							</td>
						</tr>

						<!-- Status -->
						<tr id="status_tr">
							<td>Status</td>
                            <td>
								<div class="radiobox">
									<span data-value="checked"><span></span></span>
									<label>All</label>
									<input type="hidden" name="status" value="0" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>New</label>
									<input type="hidden" name="status" value="1" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>Open</label>
									<input type="hidden" name="status" value="2" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>Fixed</label>
									<input type="hidden" name="status" value="3" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>Ignore</label>
									<input type="hidden" name="status" value="4" />
								</div>
							</td>
							<td></td>
						</tr>

						<!-- OS Version -->
						<tr id='osvtr'>
							<td>OS Version</td>
							<td>
								<div class="checkbox red" id="osv_all">
									<span></span>
									<label>All</label>
									<input type="hidden" name="os_version[]" data-value="All" value="All" />
								</div>
							</td>
                            {% for e in osv_list %}
                            <td>
                                <div class="dropdown multiple simple">
                                    <a>{{ e.key }}</a>
                                    <span></span>
                                    <div>
                                         <ul>
                                            {% for i in e.value %}
                                            <li data-value="true"><a>{{ i }}</a></li>
                                            {% endfor %}
                                         </ul>
                                    </div>
                                    <input type="hidden" name="os_version" />
                                </div>
                            </td>
                            {% endfor %}
                            {% for t in  margin.osv %}
                                <td></td>
                            {% endfor %}
						</tr>

						<!-- APP Version -->
						<tr id='appvtr'>
							<td>APP Version</td>
							<td>
								<div class="checkbox red"  id="appv_all">
									<span></span>
									<label>All</label>
									<input type="hidden" name="app_version[]" data-value="All" value="All" />
								</div>
							</td>
                            {% for e in appv_list %}
                            <td>
                                <div class="dropdown multiple simple">
                                    <a>{{ e.key }}</a>
                                    <span></span>
                                    <div>
                                         <ul>
                                            {% for i in e.value %}
                                            <li data-value="true"><a>{{ i }}</a></li>
                                            {% endfor %}
                                         </ul>
                                    </div>
                                    <input type="hidden" name="os_version" />
                                </div>
                            </td>
                            {% endfor %}
                            {% for t in  margin.appv %}
                                <td></td>
                            {% endfor %}
						</tr>

						<!-- Tag -->
						<tr>
							<td>Tag</td>
							<td colspan="6">
								<div class="tags-list">
									<ul>
										<li class="dropdown">
											<a>Select</a>
											<span></span>
											<div>
												 <ul id='tagul'>
                                                     {% for e in tag_list %}
                                                         <li data-value="false"><a>{{ e }}</a></li>
                                                     {% endfor %}
												 	<!--<li data-value="false"><a>4.1.1</a></li>-->
												 </ul>
											</div>
										</li>
									</ul>
									<input type="hidden" name="tag" />
								</div>
							</td>
						</tr>

						<!-- Class -->
						<tr>
							<td>Class</td>
							<td colspan="6">
								<div class="tags-list classes-list">
									<ul>
										<li class="dropdown">
											<a>Select</a>
											<span></span>
											<div>
												 <ul id='classul'>
                                                     {% for e in class_list %}
                                                         <li data-value="false"><a>{{ e }}</a></li>
                                                     {% endfor %}
												 	<!--<li data-value="false"><a>4.1.1</a></li>-->
												 </ul>
											</div>
										</li>
									</ul>
									<input type="hidden" name="class" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
			<div id="error-list" class="content">
				<table class="content-large sort top">
					<thead><tr>
						<td class="center asc" style="width: 88px">ES<span></span></td>
						<td>Error Name<span></span></td>
						<td style="width: 16%">Tags<span></span></td>
						<td class="center" style="width: 88px">Status<span></span></td>
						<td class="center" style="width: 8%">Occur<span></span></td>
						<td class="center" style="width: 8%">Date<span></span></td>
					</tr></thead>
					<tbody>
                        <!--
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">1,302</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">412</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">753</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">3,123,302</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr class="empty">
							<td data-match="true"></td>
							<td data-match="true"></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>-->
					</tbody>
				</table>
                <div class="noerror_msg" style="display:none">No Errors match your search or error entries are out of the retention window of your plan.</div>
				<div id="popup-info">
					<div id="popup-tri"></div>
					<div id="popup-body">
						<div id="popup-title">Basic Rule</div>
					</div>
				</div>
				<div class="page-changer">
					<ul>
						<li class="dont">&lt;&lt;</li>
						<li class="select">01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
						<li>07</li>
						<li>08</li>
						<li>09</li>
						<li>10</li>
						<li>&gt;&gt;</li>
					</ul>
				</div>
				<div class="white-area"></div>
			</div>
		</div>
		<!--content-container fin-->

		<div id="footer-container">Copyright(C) UrQA 2013., Allright reserved.</div>
		<!--footer-container fin-->
	</div>

</body>
</html>