<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Errors</title>

	<meta name="viewport" content="width=device-width">

	{% load static %}

	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.form.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.pie.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/graph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/areaGraph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>

	<script type="text/javascript">
        var project_id = "{{ projectid }}";
        var server_url = "{{ ServerURL }}";

        $("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );


        function calc_limit_width(v,m,n){
            var min_width = 10;
            var max_width = m - (min_width * (n-1));
            if(v > max_width)   return max_width;
            if(v < min_width)   return min_width;
            return Math.ceil(v);
        }

        function toggle_check(){
            if($(this).attr("data-value")=="checked")  $(this).removeAttr("data-value");
            else                                       $(this).attr("data-value","checked");

            var checked = $(this).parent().parent().parent().find('div[data-value="checked"]');
            if(checked.length == 0)
                $(this).parent().parent().parent().children('td').eq(1).children('div').attr("data-value","checked");
            else if(checked.length >= 2)
                $(this).parent().parent().parent().children('td').eq(1).children('div').removeAttr("data-value");
        }
        /*function postStyleReady(){

        }*/


    </script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-54189277-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="error" style="display: none;">
	<div id="container">
        <div id="popup-container">
			<div id="popup-modifyproject">
				<div class="body">
					<form onsubmit="return modifiProject(this);">
                        <div class="half">
                            <div>
                                <div class="area">
                                    <span>APP Name</span>
                                    {% if owner_user %}
                                        <input name="appname" type="input" value="{{ project_name }}" />
                                    {% else %}
                                        <table id="viewer-list" class="content-small">
                                            <tbody><tr>
                                                <td>{{ project_name }}</td>
                                            </tr></tbody>
                                        </table>
                                        <!--<div class="dropdown simple">
                                        <a>{{ project_name }}</a>
                                        <span></span>
                                        </div>-->
                                    {% endif %}
                                    <span>Device</span>
                                    <div class="dropdown">
                                        <a>Android</a>
                                        <span></span>
                                        <div>
                                            <ul id = 'platform_list'>
                                            {% for key,value in app_platformlist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == platform_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </div>
                                        {% if owner_user %}
                                        <input type="hidden" name="device_type" value="{{ platform_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
                                    </div>
                                    <span>APP Category</span>
                                    <div class="dropdown">
                                        <a>Game</a>
                                        <span></span>
                                        <div>
                                            <ul id = 'category_list'>
                                            {% for key,value in app_categorylist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == category_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        </div>
                                        {% if owner_user %}
                                        <input type="hidden" name="app_category" value="{{ category_number }}" />
                                        {% else %}
                                        <input type="hidden" name="app_category" value="0" />
                                        {% endif %}
                                    </div>
                                    <span>Stage</span>
                                    <div class="dropdown">
                                        <a>Test</a>
                                        <span></span>
                                        <div>
                                             <ul id = 'stage_list'>
                                             {% for key,value in app_stagelist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == stage_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                             </ul>
                                        </div>
                                        {% if owner_user %}
                                        <input type="hidden" name="stage" value="{{ stage_number }}" />
                                        {% else %}
                                        <input type="hidden" name="stage" value="0" />
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="area">
                                    <span>Timezone</span>
                                    <div class="dropdown">
                                        <a>Android</a>
                                        <span></span>
                                        <div>
                                             <ul id = 'timezone_list'>
                                                {% for timezone in timezonelist %}
                                                    {% if owner_user %}
                                                        <li><a>{{ timezone }}</a></li>
                                                    {% else %}
                                                        {% if forloop.counter == timezone_number %}
                                                            <li><a>{{ timezone }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                             </ul>
                                        </div>
                                        {% if owner_user %}
                                        <input type="hidden" name="device_type" value="{{ timezone_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
                                    </div>
                                    <span>Viewer</span>
                                    <div class="y-scroll" style="width: 310px; height: 166px;">
                                        <div style="width: 285px; margin: auto;">
                                            <table id="viewer-list" class="content-small">
                                                <thead><tr>
                                                    <td>Viewer</td>
                                                    {% if owner_user %}
                                                    <td style="width: 80px"></td>
                                                    {% endif %}
                                                </tr></thead>
                                                <tbody>
                                                    {% for viewer in project_viewerlist %}
                                                    <tr>
                                                        <td class="float"><p>{{ viewer }}</p></td>
                                                        {% if owner_user %}
                                                        <td>
                                                            <div class="button red event" onclick="deleteviewer(this)" data-name="Remove" style="width: 74px; height: 26px; margin: 2px;"></div>
                                                        </td>
                                                        {% endif %}
                                                    </tr>
                                                    {% endfor %}
                                                    {% if owner_user %}
                                                    <tr id = 'addviewer'>
                                                        <td colspan="2"><input name="userid" type="input" onkeypress="return submitViewer(event, this)" value="" /></td>
                                                    </tr>
                                                    {% endif %}
                                                    <tr class="empty">
                                                        <td data-match="true"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="white-area"></div>
                        {% if owner_user %}
						<div style="margin: auto;margin-top:10px">
							<div class="button purple" data-name="Modify Project" style="width: 210px; height: 39px"></div>
							<span></span>
							<div class="button red event" data-name="Remove Project" data-event="showConfirm()" style="width: 210px; height: 24px"></div>
						</div>
                        {% endif %}
					</form>
                    <form id="mapUpload" action="/urqa/project/{{ projectid }}/proguardmap/upload" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="white-area"></div>
                        <span>Proguard</span>
                        <table class="small" style="margin-top: 5px">
                            <tbody>
                                <tr>
                                    <td class="center" style="width: 50px;">Version</td>
                                    <td class="center" style="width: 250px;">Mapping File</td>
                                    <td class="center" style="width: 70px;"></td>
                                </tr>
                                <tr>
                                    <td class="center"><input type="text" name="appversion" id="appversion" style="width:100%;height:15px;margin-bottom:0px;"></td>
                                    <td><input type="file" name="file" id="file" style="width:100%;margin-bottom:0px;"></td>
                                    <td style="width: 100px;"><div class="button purple" data-name="Upload" data-event="uploadMapfile()" style="width: 96px; height:25px;"></div></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="white-area"></div>
                    <div class="y-scroll" style="width:100%; height:128px;">
                        <div style="width:100%">
                            <table class="content-small" id="maptable">
                                <thead><tr>
                                    <td class="center" style="width: 84px">APP Version</td>
                                    <td class="center" style="width: 104px">Filename</td>
                                    <td class="center" style="width: 74px">When</td>
                                    <td class="center" style="width: 80px"></td>
                                </tr></thead>
                                <tbody>
                                    {% for mapfile in map_file_list %}
                                    <tr>
                                        <td class="center">{{ mapfile.appversion }}</td>
                                        <td class="center">{{ mapfile.filename }}</td>
                                        <td class="center">{{ mapfile.date }}<br>{{ mapfile.time }}</td>
                                        <td class="center"><div class="button red event" data-name="Remove" data-event="mapDeleteConfirm('{{ mapfile.appversion }}','{{ mapfile.filename }}')" style="width:80px;height:20px;"></div></td>
                                    </tr>
                                    {% endfor %}
                                    <tr class="empty">
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
				</div>
			</div>
			<div id="warning-alert">
				<div class="body">
					<div class="half">
						<div>
							<div class="area">
								<span></span>
							</div>
						</div>
						<div>
							<div class="area">
								<p>DELETE PROJECT</p>
								<p>This action cannot be undone.</p>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
					<div class="line"></div>
					<div class="half">
						<div>
							<div class="area">
								<div class="button white" onclick="confirmCancel()" data-name="CANCEL"></div>
							</div>
						</div>
						<div>
							<div class="area">
								<div class="button red" onclick="confirmProcess()" data-name="CONFIRM"></div>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<div id="header">
				<a href="/urqa/projects"><div class="logo"></div></a>
				<div class="navbar-menu">
					<ul>
						<li><a href="../">Insights</a></li>
						<li><a href="./">Errors</a></li>
						<li><a href='../statistics'>Statistics</a></li>
						<li><a onclick="showPopupModifyProject();">Settings</a></li>
					</ul>
				</div>
				<div class="navbar-profile">
                    <div class="projectname"><div class="name">{{ project_name }} <br> ({{ project_platform }})</div></div>
					<div class="profile"><img src="{{ profile_url }}" alt="profile" /></div>
					<div id="profile-menu">
						<div class="inv-triangle"></div>
						<div class="color shadow">
                            <img src="{{ profile_url }}" alt="profile" />
							<div class="text">
								<div class="name">{{ user_name }}</div>
                                <div class="user-style">{{ user_email }}</div>
							</div>
						</div>
						<div class="white shadow">
							<div class="content">
								<span>
									<p class="icon" data-name="profile"></p>
									<p class="text">PROFILE</p>
								</span>
								<span onclick="openNotification();">
									<p class="notification" data="0"></p>
									<p class="icon" data-name="notification"></p>
									<p class="text">NOTIFICATION</p>
								</span>
								<span>
									<p class="icon" data-name="logout"></p>
									<p class="text"><a href='/urqa/user/logout'>LOGOUT</a></p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="color-line">
				<div class="color1"></div>
				<div class="color2"></div>
				<div class="color3"></div>
				<div class="color4"></div>
			</div>
		</div>
		<!--header-container fin-->

		<div id="content-container">
			<div class="title" data="errors"></div>
			<div id="errors_filter" class="content">
				<table class="small top">
					<thead><tr>
						<td>Filter</td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
						<td style="width: 14%"></td>
					</tr></thead>
					<tbody>
						<!-- Rank -->
						<tr id="rank_tr">
							<td>Rank</td>
							<td>
								<div class="checkbox red" value="5">
									<span></span>
									<label>All</label>
									<input type="hidden" name="rank[]" data-value="All" value="All" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="0">
									<span></span>
									<label>Unhandled</label>
									<input type="hidden" name="rank[]" data-value="Unhalded" />
								</div>
							</td>
                            <td>
								<div class="checkbox" value="1">
									<span></span>
									<label>Native</label>
									<input type="hidden" name="rank[]" data-value="Unhalded" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="2">
									<span></span>
									<label>Critical</label>
									<input type="hidden" name="rank[]" data-value="Critical" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="3">
									<span></span>
									<label>Major</label>
									<input type="hidden" name="rank[]" data-value="Major" />
								</div>
							</td>
							<td>
								<div class="checkbox" value="4">
									<span></span>
									<label>Minor</label>
									<input type="hidden" name="rank[]" data-value="Minor" />
								</div>
							</td>
						</tr>

						<!-- Date -->
						<tr style="height: 60px">
							<td>Date</td>
							<td colspan="6">
								<div class="scrollbar">
									<ul>
										<li value="1">
											<span></span>
											<a>1 Day</a>
											<a>1 Day</a>
										</li>
										<li value="7">
											<span></span>
											<a>7 Days</a>
											<a>1 Week</a>
										</li>
										<li value="30">
											<span></span>
											<a>30 Days</a>
											<a>1 Month</a>
										</li>
										<li value="90">
											<span></span>
											<a>90 Days</a>
											<a>3 Months</a>
										</li>
										<li value="180">
											<span></span>
											<a>180 Days</a>
											<a>6 Months</a>
										</li>
										<li value="365">
											<span></span>
											<a style="margin-left:-45px;">365 Days</a>
											<a style="margin-left:-45px;">1 Year</a>
										</li>
									</ul>
									<input type="hidden" name="date" value="7 Days" />
								</div>
							</td>
						</tr>

						<!-- Status -->
						<tr id="status_tr">
							<td>Status</td>
                            <td>
								<div class="radiobox">
									<span data-value="checked"><span></span></span>
									<label>All</label>
									<input type="hidden" name="status" value="0" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>New</label>
									<input type="hidden" name="status" value="1" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>Open</label>
									<input type="hidden" name="status" value="2" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>Fixed</label>
									<input type="hidden" name="status" value="3" />
								</div>
							</td>
							<td>
								<div class="radiobox">
									<span><span></span></span>
									<label>Ignore</label>
									<input type="hidden" name="status" value="4" />
								</div>
							</td>
							<td></td>
						</tr>
                        <tr id='appvtr'>
                            <td style="width:16%">APP Version</td>
                            <td style="width:14%">
                                <div class="checkbox red" id="appv_all">
                                    <span></span>
                                    <label>All</label>
                                    <input type="hidden" name="os_version[]" data-value="All" value="All" />
                                </div>
                            </td>
                            <td colspan="6">
                                <div class="version-panel appv">

                                </div>
                            </td>
                        </tr>
                        <tr id='osvtr'>
                            <td>OS Version</td>
                            <td>
                            <div class="checkbox red" id="osv_all">
                                <span></span>
                                <label>All</label>
                                <input type="hidden" name="os_version[]" data-value="All" value="All" />
                            </div>
                            </td>
                            <td colspan="6">
                                <div class="version-panel osv">

                                </div>
                            </td>
                        </tr>
						<!-- Tag -->
						<tr>
							<td>Tag</td>
							<td colspan="6">
								<div class="tags-list">
									<ul>
										<li class="dropdown">
											<a>Select</a>
											<span></span>
											<div>
												 <ul id='tagul'>
                                                     {% for e in tag_list %}
                                                         <li data-value="false"><a>{{ e }}</a></li>
                                                     {% endfor %}
												 	<!--<li data-value="false"><a>4.1.1</a></li>-->
												 </ul>
											</div>
										</li>
									</ul>
									<input type="hidden" name="tag" />
								</div>
							</td>
						</tr>

						<!-- Class -->
						<tr>
                            <td>Class</td>
							<td colspan="6">
								<div class="tags-list classes-list">
									<ul>
										<li class="dropdown">
											<a>Select</a>
											<span></span>
											<div>
												 <ul id='classul'>
                                                     {% for e in class_list %}
                                                         <li data-value="false"><a>{{ e }}</a></li>
                                                     {% endfor %}
												 </ul>
											</div>
										</li>
									</ul>
									<input type="hidden" name="class" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
			<div id="error-list" class="content">
				<table class="content-large sort top">
					<thead><tr>
                        <td class="sortable center asc" style="width: 60px">Rank<span></span></td>
					    <td class="sortable center" style="width: 60px">Count<span></span></td>
						<td class="sortable">Error Name<span></span></td>
						<td style="width: 16%">Tags</td>
						<td class="sortable center" style="width: 88px">Status<span></span></td>
						<td class="sortable center" style="width: 8%">Date<span></span></td>
					</tr></thead>
					<tbody>
                        <!--
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">1,302</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">412</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">753</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr>
							<td class="float">
								<img />
								<p>java.lang.NoSuchMethodException: abcdefghijklnmopqrstuvwxyzabcdefghijklnmop<br>(ViewGroup.java:1372)</p>
							</td>
							<td><p>external, dev shin, external, dev shin</p></td>
							<td class="center">Ignore</td>
							<td class="center">3,123,302</td>
							<td class="center small">2013<br>07/29</td>
							<td class="center">35<br>(Auto)</td>
						</tr>
						<tr class="empty">
							<td data-match="true"></td>
							<td data-match="true"></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>-->
					</tbody>
				</table>
                <div class="noerror_msg" style="display:none">No Errors match your search</div>
				<div id="popup-info">
					<div id="popup-tri"></div>
					<div id="popup-body">
						<div id="popup-title">Basic Rule</div>
					</div>
				</div>
				<div class="page-changer">
					<ul><!--
						<li class="dont">&lt;&lt;</li>
						<li class="select">01</li>
						<li>02</li>
						<li>03</li>
						<li>04</li>
						<li>05</li>
						<li>06</li>
						<li>07</li>
						<li>08</li>
						<li>09</li>
						<li>10</li>
						<li>&gt;&gt;</li>-->
					</ul>
				</div>
				<div class="white-area"></div>
			</div>
		</div>
		<!--content-container fin-->

		<div id="footer-container">Copyright(C) UrQA 2013., Allright reserved.</div>
		<!--footer-container fin-->
	</div>

</body>
</html>
