<!DOCTYPE html>
<html lang="ko" class="login">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Login</title>

	<meta name="viewport" content="width=device-width">

      {% load static %}
    <script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/lib.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/user.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js'%}"></script>

	<link rel="stylesheet" type="text/css" href="{% static '/js/d3/src/nv.d3.css'%}">
	<script type="text/javascript">
		$(document).ready(function(){
			$("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );
		});
	</script>
</head>

<body style="display: none;">
	<div id="container">
		<div id="popup-container">
			<div id="popup-memberjoin">
				<div class="body">
					<span>User e-mail</span>
					<input name="userid" id = 'useremail'type="input" value="" />
					<span>Password</span>
					<input name="password" id = 'userpassword' type="password" value="" />
					<span>Password Confirm</span>
					<input name="password2" id = 'userpasswordconfirm' type="password" value="" />
					<span>Nickname</span>
					<input name="username" id = 'usernickname' type="input" value="" />
					<div class="button purple" id = 'registration'data-name="Create an Account" style="width: 210px; height: 39px"></div>
                    <script>
                         $(document).ready(function () {
                            $('#registration').bind('click',function (e){
                                if($('#useremail').val() == '')
                                {
                                    alert('Please Input ID')
                                    return;
                                }
                                else
                                {
                                    if(!valid_email($('#useremail').val()))
                                        return
                                }

                                if($('#userpassword').val() == '')
                                {
                                    alert('Please Input Password')
                                    return;
                                }
                                if($('#userpasswordconfirm').val() == '')
                                {
                                    alert('Please Input Password Confirm')
                                    return;
                                }

                                if($('#userpassword').val() != $('#userpasswordconfirm').val())
                                {
                                    alert('Diffrent Password confirm')
                                    return;
                                }
                                if($('#usernickname').val() == '')
                                {
                                    alert('input User Nickname')
                                    return;
                                }

                                var logindata = {'username' : $('#useremail').val(),'password' : $('#userpassword').val() , 'usernickname' : $('#usernickname').val() }
                                post_to_url('/urqa/user/registration',logindata ,"{% csrf_token %}")

                                $('#username').val('')
                                $('#password').val('')
                            })
                        })
                    </script>
					<span></span>
					<div class="button gray" data-name="Connect with your google account" style="width: 210px; height: 26px"></div>
				</div>
			</div>
		</div>
		<div id="loginbox">
			<div class="header">Member Login</div>
			<div class="content">
				<span>User ID</span>
				<input name="username" id ='username' type="input" value="" />
				<span>Password</span>
				<input name="password" id ='password' type="password" value="" />
				<div id = 'loginbutton' class="button purple" data-name="UrQA LOGIN" style="width: 210px; height: 39px"></div>
                    <script>
                       $(document).ready(function () {
                            $('#loginbutton').bind('click',function (e){
                                if($('#username').val() == '')
                                {
                                    alert('Please Input ID')
                                    return;
                                }
                                if($('#password').val() == '')
                                {
                                    alert('Please Input Password')
                                    return;
                                }

                                var logindata = {'username' : $('#username').val(),'password' : $('#password').val()}
                                post_to_url('/urqa/user/login',logindata,"{% csrf_token %}")

                                $('#username').val('')
                                $('#password').val('')
                            })
                        })
                </script>
			</div>
			<div class="footer">
				<label onclick="showPopupMemberjoin()">Create an Account</label><span></span><label onclick="logout()">Forgot Password?</label>
			</div>
		</div>
		<!--content-container fin-->
	</div>
</body>
</html>