<!DOCTYPE html>
<html lang="ko" class="project-select">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Project Select</title>

	<meta name="viewport" content="width=device-width">

    {% load static %}

	<script type="text/javascript" src="{% static 'js/lib.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js'%}"></script>
	<script type="text/javascript" src="{% static 'js/user.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js'%}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'js/d3/src/nv.d3.css'%}">
	<script type="text/javascript">
		$(document).ready(function(){
			$("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );
		});
	</script>
</head>

<body style="display: none;">
	<div id="container">
		<div id="popup-container">
			<div id="popup-createproject">
				<div class="body">
					<form onsubmit="return createProject(this);">
						<span>APP Name</span>
						<input name="appname" type="input" value="" />
						<span>APP Category</span>
						<div class="dropdown">
							<a>Game</a>
							<span></span>
							<div>
								 <ul id = 'app_category_list'>
								 	<li data-value="true"><a>Game</a></li>
								 	<li data-value="false"><a>Utility</a></li>
								 	<li data-value="false"><a>Weather</a></li>
								 </ul>
							</div>
							<input type="hidden" name="app_category" value = "1" />
						</div>
						<span>Stage</span>
						<div class="dropdown">
							<a>Test</a>
							<span></span>
							<div>
								 <ul id = 'app_stage_list'>
								 	<li data-value="true"><a>Test</a></li>
								 	<li data-value="false"><a>Release</a></li>
								 	<li data-value="false"><a>Develope</a></li>
								 </ul>
							</div>
							<input type="hidden" name="stage"  value = "1"  />
						</div>
						<div class="button purple" data-name="Add Project" style="width: 210px; height: 39px"></div>
					</form>
				</div>
			</div>
		</div>
		<div id="project-list">
			<div class="list">
				{% for project  in  project_list %}
                 <a href= "/urqa/project/{{ project.apikey }}">
                    <div>
						<div></div>
						<span></span>
						<p class="{{ project.color }}"><span>ERROR</span>{{ project.errorcount }}</p>
						<label>{{ project.name }}</label>
					</div>
                 </a>
				 {% endfor %}
             </div>
			<div class="add" onclick="showPopupCreateProject()"><div></div></div>
		</div>
		<!--content-container fin-->
	</div>
</body>
</html>