<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Dashboard</title>

	<meta name="viewport" content="width=device-width">

    {% load static %}

	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/raphael/raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.pie.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/graph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/areaGraph.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>

    <script type="text/javascript">
        var project_id = "{{ projectid }}";
        $(document).ready(function(){
            $("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );
		});

        function clickevent(id)
        {
            location.href = 'errors/' + id
        }
    </script>
    <script>
        var in_page_counter = 10
        var page_counter = 5
        var total_error_counter = {{ total_error_counter }}
        var page_counter_dan = 0
        var licomponent = []
        var errorlist_container
        var left
        var right

        $('.page-changer').ready(function() {
            pagechangerInit(total_error_counter)

        })

        function pagechangerInit(counter){
            var pagecounter = Math.ceil(counter/in_page_counter)
            var pagestring = ""
            for(var i = 2 ; i <= pagecounter; i++)
            {
                if( i > page_counter)
                    break;
                pagestring += "<li>"+ i +"</li>"

            }
            var donestring = 'class = "dont"'
            if(pagecounter > page_counter )
                donestring = ''

            $('.page-changer').html('\
            <ul> \
                <li class="dont">&lt;&lt;</li> \
                <li class="select">1</li> \ ' +
                pagestring +
                '<li ' + donestring + '>&gt;&gt;</li> \
            </ul>  \
            ')

            errorlist_container = $('.content-large>tbody').children()
            var tmplicomponent = $('.page-changer > ul').children()
            for(var i = 0 ; i< tmplicomponent.size(); i++)
            {
                if(i == 0)
                {
                    left = tmplicomponent[i]
                    tmplicomponent[i].onclick =left_click
                }
                else if(i == tmplicomponent.size() -1)
                {
                    right = tmplicomponent[i]
                    tmplicomponent[i].onclick = right_click
                }
                else
                {
                    licomponent.push(tmplicomponent[i])
                    tmplicomponent[i].onclick =number_click
                }
            }
            numberclick(1)
        }

        function numberclick(count){
             var page = in_page_counter*(count - 1)

            for(var i = 0; i< errorlist_container.size(); i++)
            {
                errorlist_container[i].style.display = 'none'
            }

            for(var i = page; i< page+in_page_counter ; i++)
            {
                if(i >= errorlist_container.size())
                    break;
                errorlist_container[i].style.display = ''

            }

        }

        function number_click(){
            var count = $(this).html()
            for(var i = 0 ; i<licomponent.length; i++)
                licomponent[i].className = ''
            $(this).attr('class','select')
            numberclick(count)
        }
        function left_click(){
            if(page_counter_dan -1 == -1)
                return

              var count = 0
             for( var i = (page_counter_dan-1) * page_counter +1 ; i < (page_counter_dan) * page_counter +1; i++)
            {
                if(count >= page_counter)
                    break;
                licomponent[count].innerText = i;
                licomponent[count].style.display = ''
                licomponent[count].setAttribute('class','')
                count++;
            }

            right.className = ''

            if(page_counter_dan - 1 != 0)
                left.className = ''
            else
                left.className = 'dont'

            licomponent[page_counter-1].setAttribute('class','select')
            numberclick((page_counter_dan) * page_counter)

            page_counter_dan -= 1
        }
        function right_click(){
            if((page_counter_dan+1) * page_counter * in_page_counter >=  total_error_counter)
                return


            var remainerror = total_error_counter -  (page_counter_dan+1) * page_counter * in_page_counter

            var remainpage = Math.ceil(remainerror / in_page_counter)

            var count = 0
            for(var i = 0 ; i< page_counter; i++)
            {
                licomponent[i].style.display = 'none'
                 licomponent[i].setAttribute('class','')
            }

            for( var i = (page_counter_dan+1) * page_counter +1 ; i < (page_counter_dan+1) * page_counter +1 + remainpage ; i++)
            {
                if(count >= page_counter)
                    break;
                licomponent[count].innerText = i;
                licomponent[count].style.display = ''
                count++;
            }

            if(remainpage - page_counter <= 0)
                right.className = 'dont'
            else
                right.className = ''

            left.className = ''

            licomponent[0].setAttribute('class','select')
            numberclick((page_counter_dan+1) * page_counter +1)

            page_counter_dan += 1
        }
    </script>

</head>

<body class="insight" style="display: none;">
	<div id="container">
		<!--<div id="popup-notification">
			<div data-href="#">
				<span></span>
				<label>This is the notification area</label>
				<p>Check the <i>Notifications</i> section for more information.</p>
			</div>
			<div data-href="#">
				<span></span>
				<label>Welcome to UrQA</label>
				<p>UrQA에 오신 것을 환영합니다. 당신의 프로젝트에서 발생하는 <b>다양한 문제</b>를 여기에서 해결할 수 있기를 바랍니다!</p>
			</div>
		</div>-->

		<div id="popup-container">
			<div id="popup-modifyproject">
				<div class="body">
					<form onsubmit="return modifiProject(this);">
						<div class="half">
							<div>
								<div class="area">
									<span>APP Name</span>
                                    {% if owner_user %}
									    <input name="appname" type="input" value="{{ project_name }}" />
                                    {% else %}
                                        <table id="viewer-list" class="content-small">
                                            <tbody><tr>
                                                <td>{{ project_name }}</td>
                                            </tr></tbody>
                                        </table>
                                        <!--<div class="dropdown simple">
                                        <a>{{ project_name }}</a>
                                        <span></span>
                                        </div>-->
                                    {% endif %}
									<span>Device</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											<ul id = 'platform_list'>
                                            {% for key,value in app_platformlist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == platform_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											</ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="device_type" value="{{ platform_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
									</div>
									<span>APP Category</span>
									<div class="dropdown">
										<a>Game</a>
										<span></span>
										<div>
											<ul id = 'category_list'>
                                            {% for key,value in app_categorylist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == category_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											</ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="app_category" value="{{ category_number }}" />
                                        {% else %}
                                        <input type="hidden" name="app_category" value="0" />
                                        {% endif %}
									</div>
									<span>Stage</span>
									<div class="dropdown">
										<a>Test</a>
										<span></span>
										<div>
											 <ul id = 'stage_list'>
                                             {% for key,value in app_stagelist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == stage_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											 </ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="stage" value="{{ stage_number }}" />
                                        {% else %}
                                        <input type="hidden" name="stage" value="0" />
                                        {% endif %}
									</div>
								</div>
							</div>
							<div>
								<div class="area">
									<span>Timezone</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											 <ul id = 'timezone_list'>
                                                {% for timezone in timezonelist %}
                                                    {% if owner_user %}
                                                        <li><a>{{ timezone }}</a></li>
                                                    {% else %}
                                                        {% if forloop.counter == timezone_number %}
                                                            <li><a>{{ timezone }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
											 </ul>
										</div>
                                        {% if owner_user %}
										<input type="hidden" name="device_type" value="{{ timezone_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
									</div>
									<span>Viewer</span>
									<div class="y-scroll" style="width: 310px; height: 166px;">
										<div style="width: 285px; margin: auto;">
											<table id="viewer-list" class="content-small">
												<thead><tr>
													<td>Viewer</td>
                                                    {% if owner_user %}
													<td style="width: 80px"></td>
                                                    {% endif %}
												</tr></thead>
												<tbody>
                                                    {% for viewer in project_viewerlist %}
                                                    <tr>
														<td class="float"><p>{{ viewer }}</p></td>
                                                        {% if owner_user %}
														<td>
															<div class="button red event" onclick="deleteviewer(this)" data-name="Remove" style="width: 74px; height: 26px; margin: 2px;"></div>
														</td>
                                                        {% endif %}
													</tr>
                                                    {% endfor %}
                                                    {% if owner_user %}
													<tr id = 'addviewer'>
														<td colspan="2"><input name="userid" type="input" onkeypress="return submitViewer(event, this)" value="" /></td>
													</tr>
                                                    {% endif %}
													<tr class="empty">
														<td data-match="true"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="white-area"></div>
                        {% if owner_user %}
						<div style="margin: auto">
							<div class="button purple" data-name="Modify Project" style="width: 210px; height: 39px"></div>
							<span></span>
							<div class="button red event" data-name="Remove Project" data-event="showConfirm()" style="width: 210px; height: 24px"></div>
						</div>
                        {% endif %}
					</form>
				</div>
			</div>
			<div id="warning-alert">
				<div class="body">
					<div class="half">
						<div>
							<div class="area">
								<span></span>
							</div>
						</div>
						<div>
							<div class="area">
								<p>DELETE PROJECT</p>
								<p>This action cannot be undone.</p>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
					<div class="line"></div>
					<div class="half">
						<div>
							<div class="area">
								<div class="button white" onclick="confirmCancel()" data-name="CANCEL"></div>
							</div>
						</div>
						<div>
							<div class="area">
								<div class="button red" onclick="confirmProcess()" data-name="CONFIRM"></div>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<div id="header">
				<a href="/urqa"><div class="logo"></div></a>
				<div class="navbar-menu">
					<ul>
						<li><a>Insights</a></li>
						<li><a href="./errors">Errors</a></li>
						<li><a href="./statistics">Statistics</a></li>
						<li><a onclick="showPopupModifyProject();">Settings</a></li>
					</ul>
				</div>
				<div class="navbar-profile">
                    <div class="projectname"><div class="name">{{ project_name }} <br> ({{ project_platform }})</div></div>
					<div class="profile"><img src="{{ profile_url }}" alt="profile" /></div>
					<div id="profile-menu">
						<div class="inv-triangle"></div>
						<div class="color shadow">
                            <img src="{{ profile_url }}" alt="profile" />
							<div class="text">
								<div class="name">{{ user_name }}</div>
                                <div class="user-style">{{ user_email }}</div>
							</div>
						</div>
						<div class="white shadow">
							<div class="content">
								<span>
									<p class="icon" data-name="profile"></p>
									<p class="text">PROFILE</p>
								</span>
								<span onclick="openNotification();">
									<p class="notification" data="0"></p>
									<p class="icon" data-name="notification"></p>
									<p class="text">NOTIFICATION</p>
								</span>
								<span>
									<p class="icon" data-name="logout"></p>
									<p class="text"><a href='/urqa/user/logout'>LOGOUT</a></p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="color-line">
				<div class="color1"></div>
				<div class="color2"></div>
				<div class="color3"></div>
				<div class="color4"></div>
			</div>
		</div>
		<!--header-container fin-->
        <!--<div id="neck-container">
            <div id="neck"></div>
        </div>-->
		<div id="content-container">
			<div class="title" data="dashboard"></div>
			<div id="dashboard-graph" class="content half">
				<div>
					<div class="title" data="daily"> Errors</div>
					<div id="dailyES" class="area"></div>
					<div class="white-area"></div>
				</div>
				<div>
					<div class="title" data="rank"> rating</div>
					<div id="typeES" class="area"></div>
					<div class="white-area"></div>
				</div>
			</div>
			<div class="white-area"></div>
			<div id="error-list" class="content">
                <div id="recommand-msg">We recommend that you fix the bug first on this list </div>
				<table class="content-large">
					<thead><tr>
                        <td class="center" style="width: 44px">Rank</td>
					    <td class="center" style="width: 50px">Count</td>
						<td>Name</td>
						<td style="width: 20%">Tags</td>
					</tr></thead>
					<tbody>
                        {% for data in error_list %}
                        <tr onclick = clickevent({{ data.Errorid }})>
                            <td class="float">
                                <span class="{{ data.Errorrankcolor }}"></span>
                            </td>
                            <td class="center bold">{{ data.ErrorCount }}</td>
                            <td class="float">
								<p>{{ data.ErrorName }}<br>{{ data.ErrorClassName }}</p>
							</td>
							<td>
								<p>
                                    <div class="disable-tags-list">
                                    <ul>
                                        {% for tag in data.tags %}
                                        <li>{{ tag.tag }}</li>
                                        {% endfor %}
                                    </ul>
                                    </div>
                                </p>
							</td>

                        </tr>
                        {% endfor %}
                        <tr class="empty">
							<td></td>
							<td data-match="true"></td>
							<td data-match="true"></td>
						</tr>
					</tbody>
				</table>
				<div id="popup-info">
						<div id="popup-tri"></div>
						<div id="popup-body">
							<div id="popup-title">Basic Rule</div>
						</div>
					</div>
				<div class="white-area"></div>
			</div>
            {% if not error_list %}
            <div class="noerror_msg">Project has no error within 1 week.</div>
            {% endif %}
            {% if error_list %}
            <div class="page-changer"></div>
            {% endif %}
				<div class="white-area"></div>
		</div>
		<!--content-container fin-->

		<div id="footer-container">Copyright(C) UrQA 2013., Allright reserved.</div>
		<!--footer-container fin-->
	</div>

</body>
</html>