<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	
	<title>UrQA :: Statistics</title>

	<meta name="viewport" content="width=device-width">

    {% load static %}

	<script type="text/javascript" src="{% static 'js/lib.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/hashmap.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery-2.0.0.min.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'js/raphael/raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.raphael.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/r.pie.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/popup.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/raphael/graph/graph.js' %}"></script>-->
	<script type="text/javascript" src="{% static 'js/d3/lib/d3.v3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/d3/nv.d3.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/d3/src/tooltip.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/d3/src/models/legend.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/d3/src/models/pie.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/d3/src/models/pieChart.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/d3/src/utils.js' %}"></script>
	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript" src="{% static 'js/css-compile.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/user.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utility.js' %}"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'js/d3/src/nv.d3.css' %}">
	<script type="text/javascript">
        var project_id = "{{ projectid }}";
        var server_url = "{{ ServerURL }}"
        var my_chart;
		$(document).ready(function(){
			$("head").compileCSS("{% static 'css/' %}",'style.css', new Array("theme/dark") );

		});

	</script>
</head>

<body class="statistics" style="display: none;">
	<div id="container">
        <!--
		<div id="popup-notification">
			<div data-href="#">
				<span></span>
				<label>This is the notification area</label>
				<p>Check the <i>Notifications</i> section for more information.</p>
			</div>
			<div data-href="#">
				<span></span>
				<label>Welcome to UrQA</label>
				<p>UrQA에 오신 것을 환영합니다. 당신의 프로젝트에서 발생하는 <b>다양한 문제</b>를 여기에서 해결할 수 있기를 바랍니다!</p>
			</div>
		</div>-->

        <div id="popup-container">
			<div id="popup-modifyproject">
				<div class="body">
					<form onsubmit="return modifiProject(this);">
						<div class="half">
							<div>
								<div class="area">
									<span>APP Name</span>
                                    {% if owner_user %}
									    <input name="appname" type="input" value="{{ project_name }}" />
                                    {% else %}
                                        <table id="viewer-list" class="content-small">
                                            <tbody><tr>
                                                <td>{{ project_name }}</td>
                                            </tr></tbody>
                                        </table>
                                        <!--<div class="dropdown simple">
                                        <a>{{ project_name }}</a>
                                        <span></span>
                                        </div>-->
                                    {% endif %}
									<span>Device</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											<ul id = 'platform_list'>
                                            {% for key,value in app_platformlist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == platform_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											</ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="device_type" value="{{ platform_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
									</div>
									<span>APP Category</span>
									<div class="dropdown">
										<a>Game</a>
										<span></span>
										<div>
											<ul id = 'category_list'>
                                            {% for key,value in app_categorylist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == category_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											</ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="app_category" value="{{ category_number }}" />
                                        {% else %}
                                        <input type="hidden" name="app_category" value="0" />
                                        {% endif %}
									</div>
									<span>Stage</span>
									<div class="dropdown">
										<a>Test</a>
										<span></span>
										<div>
											 <ul id = 'stage_list'>
                                             {% for key,value in app_stagelist %}
                                                {% if owner_user %}
                                                    <li value="{{ value }}"><a>{{ key }}</a></li>
                                                {% else %}
                                                    {% if forloop.counter == stage_number %}
                                                        <li value="{{ value }}"><a>{{ key }}</a></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
											 </ul>
										</div>
										{% if owner_user %}
										<input type="hidden" name="stage" value="{{ stage_number }}" />
                                        {% else %}
                                        <input type="hidden" name="stage" value="0" />
                                        {% endif %}
									</div>
								</div>
							</div>
							<div>
								<div class="area">
									<span>Timezone</span>
									<div class="dropdown">
										<a>Android</a>
										<span></span>
										<div>
											 <ul id = 'timezone_list'>
                                                {% for timezone in timezonelist %}
                                                    {% if owner_user %}
                                                        <li><a>{{ timezone }}</a></li>
                                                    {% else %}
                                                        {% if forloop.counter == timezone_number %}
                                                            <li><a>{{ timezone }}</a></li>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
											 </ul>
										</div>
                                        {% if owner_user %}
										<input type="hidden" name="device_type" value="{{ timezone_number }}" />
                                        {% else %}
                                        <input type="hidden" name="device_type" value="0" />
                                        {% endif %}
									</div>
									<span>Viewer</span>
									<div class="y-scroll" style="width: 310px; height: 166px;">
										<div style="width: 285px; margin: auto;">
											<table id="viewer-list" class="content-small">
												<thead><tr>
													<td>Viewer</td>
                                                    {% if owner_user %}
													<td style="width: 80px"></td>
                                                    {% endif %}
												</tr></thead>
												<tbody>
                                                    {% for viewer in project_viewerlist %}
                                                    <tr>
														<td class="float"><p>{{ viewer }}</p></td>
                                                        {% if owner_user %}
														<td>
															<div class="button red event" onclick="deleteviewer(this)" data-name="Remove" style="width: 74px; height: 26px; margin: 2px;"></div>
														</td>
                                                        {% endif %}
													</tr>
                                                    {% endfor %}
                                                    {% if owner_user %}
													<tr id = 'addviewer'>
														<td colspan="2"><input name="userid" type="input" onkeypress="return submitViewer(event, this)" value="" /></td>
													</tr>
                                                    {% endif %}
													<tr class="empty">
														<td data-match="true"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="white-area"></div>
                        {% if owner_user %}
						<div style="margin: auto">
							<div class="button purple" data-name="Modify Project" style="width: 210px; height: 39px"></div>
							<span></span>
							<div class="button red event" data-name="Remove Project" data-event="showConfirm()" style="width: 210px; height: 24px"></div>
						</div>
                        {% endif %}
					</form>
				</div>
			</div>
			<div id="warning-alert">
				<div class="body">
					<div class="half">
						<div>
							<div class="area">
								<span></span>
							</div>
						</div>
						<div>
							<div class="area">
								<p>DELETE PROJECT</p>
								<p>This action cannot be undone.</p>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
					<div class="line"></div>
					<div class="half">
						<div>
							<div class="area">
								<div class="button white" onclick="confirmCancel()" data-name="CANCEL"></div>
							</div>
						</div>
						<div>
							<div class="area">
								<div class="button red" onclick="confirmProcess()" data-name="CONFIRM"></div>
							</div>
						</div>
					</div>
					<div class="white-area"></div>
				</div>
			</div>
		</div>
		<div id="header-container">
			<div id="header">
				<a href="/urqa"><div class="logo"></div></a>
				<div class="navbar-menu">
					<ul>
						<li><a href="../">Insights</a></li>
						<li><a href="../errors">Errors</a></li>
						<li><a href='./'>Statistics</a></li>
						<li><a onclick="showPopupModifyProject();">Settings</a></li>
					</ul>
				</div>
				<div class="navbar-profile">
                    <div class="projectname"><div class="name">{{ project_name }} <br> ({{ project_platform }})</div></div>
					<div class="profile"><img src="{{ profile_url }}" alt="profile" /></div>
					<div id="profile-menu">
						<div class="inv-triangle"></div>
						<div class="color shadow">
							<img src="{{ profile_url }}" alt="profile" />
							<div class="text">
								<div class="name">{{ user_name }}</div>
                                <div class="user-style">{{ user_email }}</div>
							</div>
						</div>
						<div class="white shadow">
							<div class="content">
								<span>
									<p class="icon" data-name="profile"></p>
									<p class="text">PROFILE</p>
								</span>
								<span onclick="openNotification();">
									<p class="notification" data="0"></p>
									<p class="icon" data-name="notification"></p>
									<p class="text">NOTIFICATION</p>
								</span>
								<span>
									<p class="icon" data-name="logout"></p>
									<p class="text"><a href='/urqa/user/logout'>LOGOUT</a></p>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="color-line">
				<div class="color1"></div>
				<div class="color2"></div>
				<div class="color3"></div>
				<div class="color4"></div>
			</div>
		</div>
		<!--header-container fin-->

		<div id="content-container">
			<div class="title" data="statistics"></div>
			<div class="title" data="retention"></div>
			<div class="content">
				<table style="margin-top: -10px">
					<tbody>
						<tr class="notHover retention">
							<td>
								<div class="scrollbar">
									<ul>
										<li value="1">
											<span></span>
											<a>1 Day</a>
											<a>1 Day</a>
										</li>
										<li value="7">
											<span></span>
											<a>7 Days</a>
											<a>1 Week</a>
										</li>
										<li value="30">
											<span></span>
											<a>30 Days</a>
											<a>1 Month</a>
										</li>
										<li value="90">
											<span></span>
											<a>90 Days</a>
											<a>3 Months</a>
										</li>
										<li value="180">
											<span></span>
											<a>180 Days</a>
											<a>6 Months</a>
										</li>
										<li value="10000">
											<span></span>
											<a>Unlimited</a>
											<a>Unlimited</a>
										</li>
									</ul>
									<input type="hidden" name="date" value="7 Days" />
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
            <div class="title" data="class"> Error Rate</div>
			<div id="class-error-count" class="content">
				<table>
					<tbody>
						<tr class="notHover">
							<td id="cecs"><svg></svg></td>
						</tr>
					</tbody>
				</table>
				<div class="white-area"></div>
			</div>
			<div class="title" data="device"> Error Score</div>
			<div class="content">
				<table style="margin-top: -10px;">
					<tbody>
						<tr class="notHover">
							<td id="decs"><svg></svg></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="title" data="error">s by Activity</div>
			<div class="content">
				<table style="margin-top: -10px;">
					<tbody>
						<tr class="notHover">
							<td id="ebas"><svg></svg></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="title" data="version"> Error Rate</div>
			<div class="content">
				<table style="margin-top: -10px;">
					<tbody>
						<tr class="notHover">
							<td id="vers"><svg></svg></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!--content-container fin-->

		<div id="footer-container">Copyright(C) UrQA 2013., Allright reserved.</div>
		<!--footer-container fin-->
	</div>

</body>
</html>
