/**
 * Global
 */
 a.none-style { margin: 0 !important; padding: 0 !important; background-color: transparent !important; }

.text-bold
{
	font-weight: 700;
}

.text-ellipsis
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .table-text-ellipsis > div
{
	/** Crop line count: 3 */
	display: block;
	max-height: 54.6px; /* font-size * line-height * 3 + padding-top */
	-webkit-line-clamp: 3;

	overflow: hidden;
	text-overflow: ellipsis;
}

.label-unhandler { background-color: #E67A77; }
.label-critical { background-color: #D9DD81; }
.label-major { background-color: #79D1CF; }
.label-minor { background-color: #95D7BB; }
.label-native { background-color: #4D5360; }

div.icheck > div > div.radio {
	padding-left: 0;
	margin-right: 30px;
}

/**
 * Header
 */
#top_menu
{
	float: left;
}

.dropdown-menu.extended li .text-link
{
	font-size: 12px;
	list-style: none;
}

.noti-info-detail .notification-meta { position: relative; margin: 0 4px 0 40px; }

.noti-info-detail .notification-info
{
	width: 100%;
	margin: 0 0 0 8px;
	color: #414147;
	word-wrap: break-word;
	word-break: normal;
	white-space: normal;
}
.noti-info-detail .notification-time
{
	font-size: 12px;
	margin: 2px 0 0 8px;
	word-wrap: break-word;
	word-break: normal;
	white-space: normal;
}
.alert-info    .text-link { color: #45a2c9; }
.alert-danger  .text-link { color: #fb6f6b; }
.alert-success .text-link { color: #42b663; }

.noti-info { padding-top: 8px; }

@media (max-width: 479px) {
	.pull-right.top-menu
	{
		position: absolute;
		right: 0;
	}
	.order-search
	{
		margin-top: -10px;
		padding-top: 10px;
		background: white;
		z-index: 1000;
	}
	.top-nav .username { display: none; }
	.top-nav .search:focus { margin-left: -10px; width: 176px; }
}

/**
 * Projects
 */
#projects div.user-heading a img
{
	width: 70px;
	height: 70px;
}

#projects div.user-heading h1
{
	font-size: 18px;
	margin-top: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#projects div.user-heading p
{
	font-size: 14px;
	margin-top: -2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#projects div.user-heading
{
	cursor: pointer;
}

/**
 * Dashboard
 */
@media (min-width: 992px) and (max-width: 1240px) {
	.mini-stat .mini-stat-icon {
		float: none;
		margin: 0 auto;
		display: block;
	}
	.mini-stat .mini-stat-info {
		text-align: center;
	}
}

#dashboard .top-stats-panel {
    min-height: 214px;
}

#errors-table .tags > p { line-height: 26px; margin: 0; }

#errors-table table {
	table-layout:fixed;
	margin-bottom: 15px !important;
	border-bottom: 1px solid #ccc;
}
#errors-table table thead { background:#474751; color:white; }
#errors-table table th:nth-child(1) { border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; }
#errors-table table th:nth-child(5) { border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; }

@media only screen and (max-width: 800px) {
    #errors-table table,
    #errors-table thead,
    #errors-table tbody,
    #errors-table th,
    #errors-table td,
    #errors-table tr {
        display: block;
    }

    #errors-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #errors-table tr { border: 1px solid #ccc; }

    #errors-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 35%;
        white-space: normal;
        text-align:left;
    }

    #errors-table td:before {
        position: absolute;
        left: 10px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #errors-table td:before { content: attr(data-title); }

    #errors-table .tags { min-height:42px; }
}

@media (max-width: 1200px) {
	#errors-table table .res-hidden { display: none; }
	#errors-table table th:nth-child(4) { border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; }
}

#dynamic-table {
	width: auto !important;
}

#dynamic-table .auto-size {
	width: auto !important;
}

/**
 * Errors
 */
div.tagsearch { padding: 5px }
div.tagsearch span.tags {
	float: left;
	display: block;
	margin: auto 5px 4px auto;
	padding: 8px 9px;
	border: 0 none;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	font-size: 13px;
	text-decoration: none;
	font-family: helvetica;
	background: none repeat scroll 0 0 #CDE69C;
	color: #638421;
	cursor: pointer;
}
div.tagsearch span.tags:active { background-color: #bcd982 }
div.tagsearch span.tags span {
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
}
div.tagsearch span.tags span:after { content: ' ' }
div.tagsearch span.tags a {
	font-weight: bold;
	color: #82ad2b;
	text-decoration: none;
	font-size: 11px;
}


