
/*-- Chart --*/

div.chart svg {
  font: 10px sans-serif;
}
div.chart path, line {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}
div.chart text {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

/*-- Grid --*/

div.chart .grid line {
  stroke: #ccc;
}
div.chart .xgrid, .ygrid {
  stroke-dasharray: 3 3;
}
div.chart .xgrid-focus {
}

/*-- Line --*/

div.chart .-line {
  stroke-width: 1px;
}
/*-- Point --*/

div.chart .-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}
div.chart .selected-circle {
  fill: white;
  stroke-width: 2px;
}

/*-- Bar --*/

div.chart .-bar._expanded_ {
  stroke-width: 1px;
  fill-opacity: 0.6;
}
/* TODO: use this*/
div.chart .-bar._selected_ {
  stroke-width: 1px;
  fill-opacity: 0.3;
}
div.chart .selected-bar {
  fill: white;
  stroke-width: 2px;
}

/*-- Focus --*/

div.chart .target.focused path {
  stroke-width: 2px;
}

/*-- Region --*/

div.chart .region {
  fill: steelblue;
  fill-opacity: .1;
}

/*-- Brush --*/

div.chart .brush .extent {
  fill-opacity: .1;
}

/*-- Select - Drag --*/

div.chart .dragarea {
}

/*-- Legend --*/

div.chart .legend-item {
  font-size: 12px;
}

/*-- Tooltip --*/

div.chart .-tooltip {
  border-collapse:collapse;
  border-spacing:0;
  background-color:#fff;
  empty-cells:show;
  -webkit-box-shadow: 7px 7px 12px -9px rgba(119,119,119,10);
     -moz-box-shadow: 7px 7px 12px -9px rgba(119,119,119,10);
          box-shadow: 7px 7px 12px -9px rgba(119,119,119,10);
  opacity: 0.9;
}
div.chart .-tooltip tr {
  border:1px solid #CCC;
}
div.chart .-tooltip th {
  background-color: #aaa;
  font-size:14px;
  padding:2px 5px;
  text-align:left;
  color:#FFF;
}
div.chart .-tooltip td {
  font-size:13px;
  padding: 3px 6px;
  background-color:#fff;
  border-left:1px dotted #999;
}
div.chart .-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}
div.chart .-tooltip td.value{
  text-align: right;
}
