@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@font-face {
	font-family: "Helvetica";
	src: url("./font/Helvetica.eot");
	src: url("./font/Helvetica.eot?#iefix") format("embedded-opentype"),
	url("./font/Helvetica.woff") format("woff"),
	url("./font/Helvetica.ttf") format("truetype"),
	url("./font/Helvetica.svg") format("svg");
}
@font-face {
	font-family: "RixGo EB";
	font-style: normal;
	font-weight: normal;
	src: url("./font/RixGo EB.eot");
	src: url("./font/RixGo EB.eot?#iefix") format("embedded-opentype"),
	url("./font/RixGo EB.woff") format("woff"),
	url("./font/RixGo EB.ttf") format("truetype"),
	url("./font/RixGo EB.svg") format("svg");
}
@font-face {
	font-family: "RixGo B";
	font-style: normal;
	font-weight: normal;
	src: url("./font/RixGo B.eot");
	src: url("./font/RixGo B.eot?#iefix") format("embedded-opentype"),
	url("./font/RixGo B.woff") format("woff"),
	url("./font/RixGo B.ttf") format("truetype"),
	url("./font/RixGo B.svg") format("svg");
}
@font-face {
	font-family: "RixGo M";
	font-style: normal;
	font-weight: normal;
	src: url("./font/RixGo M.eot");
	src: url("./font/RixGo M.eot?#iefix") format("embedded-opentype"),
	url("./font/RixGo M.woff") format("woff"),
	url("./font/RixGo M.ttf") format("truetype"),
	url("./font/RixGo M.svg") format("svg");
}
@font-face {
	font-family: "RixGo L";
	font-style: normal;
	font-weight: normal;
	src: url("./font/RixGo L.eot");
	src: url("./font/RixGo L.eot?#iefix") format("embedded-opentype"),
	url("./font/RixGo L.woff") format("woff"),
	url("./font/RixGo L.ttf") format("truetype"),
	url("./font/RixGo L.svg") format("svg");
}

@font-face {
	font-family: "Fixedsys500c";
    font-style: normal;
	font-weight: normal;
    src: url("./font/Fixedsys500c.eot");
	src: url("./font/Fixedsys500c.eot?#iefix") format("embedded-opentype"),
    url("./font/Fixedsys500c.woff") format("woff"),
	url("./font/Fixedsys500c.ttf") format("truetype");
}


@variables {
	header-size: 58px;
}
* {
	margin: 0;
	padding: 0;
	outline: 0;
}
body {
	font-family: "Helvetica", "Cabin", "Droid Sans", Arial, 돋움, Dotum, "Nanum Gothic", "Malgun Gothic", "맑은 고딕", AppleGothic, serif;
	font-size:12px;
	line-height: 1.5;
	min-width: 960px;

	background-color: @tm-bg;
	padding:0;
	margin:0;
}
* { text-decoration:none; }
a:link { text-decoration:none; }
a:visited { text-decoration:none; }
a:hover { text-decoration:none; }
a:active { text-decoration:none; }

>html.login {
	width: 100%;
	height: 100%;
	background: url("./images/background.jpg") no-repeat;
	background-size: cover;
	body {
		background-color: transparent;
	}
}
>html.project-select {
	width: 100%;
	height: 100%;
	background: url("./images/background-blue.jpg") no-repeat;
	background-size: cover;
	body {
		background-color: transparent;
	}
}

#container { padding: 0; margin: 0; }
#popup-notification {
	position: fixed;
	display: none;
	width: 340px;
	height: auto;
	border-radius: 5px;
	background-color: white;
	@multi-platform { box-shadow: 0 0 5px rgba(0,0,0,.33); }
	z-index: 10000;
	>div {
		padding: 14px 16px;
		border-bottom: 1px @notification-line solid;
		overflow: hidden;
		cursor: pointer;
		span {
			position: absolute;
			margin-left: 304px;
			margin-top: -8px;
			width: 12px;
			height: 12px;
			border-radius: 6px;
		}
		label {
			font: 14px "RixGo B";
			color: @tm-tx-c3;
		}
		p {
			margin-top: 3px;
			font: 12px "RixGo L";
			color: @tm-tx-c3;
		}
	}
	div.read { background-color: @notification-read; }
	div:nth-child(1) { border-top-left-radius: 5px; border-top-right-radius: 5px; }
	div:nth-last-child(1) { border: 0; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; }
}
#container.svg			#popup-notification div:hover > span { background: @tm-tx-c2 url("./images/x.svg") 3px 3px no-repeat; }
#container				#popup-notification div:hover > span,
#container.decelerate	#popup-notification div:hover > span { background: @tm-tx-c2 url("./images/x.png") 3px 3px no-repeat; }

>#popup-container {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10000;
	>div {
		display: none;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		@multi-platform {
			backface-visibility: hidden;
			transform: translatez(0);
		}
		.body {
			position: relative;
			padding: 10px;
			border-radius: 5px;
			background-color: white;
		}
	}
	>#popup-information > .body {
		width: 300px;
		height: 130px;
		overflow-y: scroll;
		.area > span {
			display: block;
			font: 14px "RixGo B";
			color: @tm-tx-c3;
		}
		.area > span:not(:nth-child(1)) {
			margin-top: 15px;
		}
	}
	>#popup-eventpath > .body {
		width: 300px;
		height: 130px;
		overflow-y: scroll;
		.area > span {
			display: block;
			font: 14px "RixGo B";
			color: @tm-tx-c3;
		}
		.area > span:not(:nth-child(1)) {
			margin-top: 15px;
		}
	}
	>#popup-logdata > .body {
		width: 300px;
		height: 130px;
		overflow-y: scroll;
		.area > span {
			display: block;
			font: 14px "RixGo B";
			color: @tm-tx-c3;
		}
		.area > span:not(:nth-child(1)) {
			margin-top: 15px;
		}
	}
	>#popup-memberjoin > .body {
		width: 210px;
		height: 390px;
		span {
			display: block;
			font: 12px "RixGo EB";
			color: @tm-hl-c4;
			margin-bottom: 2px;
		}
		input {
			width: 186px;
			margin-bottom: 10px;
		}
	}
	#popup-createproject > .body {
		width: 210px;
		height: 284px;
		span {
			display: block;
			font: 12px "RixGo EB";
			color: @tm-hl-c4;
			margin-bottom: 2px;
		}
		input {
			width: 186px;
			margin-bottom: 10px;
		}
		div {
			width: 168px;
		}
	}
	>#popup-uploadsymbol > .body {
		width: 600px;
		span {
			display: block;
			font: 12px "RixGo EB";
			color: @tm-hl-c4;
			margin-bottom: 2px;
		}
		input {
			width: 186px;
			margin-bottom: 10px;
		}
		div {
			width: 168px;
		}
		>.y-scroll {
			width: 600px;
			height: 166px;
			>div {
				margin: auto;
				width: 580px;
				table {
					margin-top: 0;
				}
			}
		}
	}
	>#popup-modifyproject{
		position: fixed;
		.body {
			width: 540px;
			height: 308px;
			span {
				display: block;
				font: 12px "RixGo EB";
				color: @tm-hl-c4;
				margin-bottom: 2px;
			}
			input {
				width: 186px;
				margin-bottom: 10px;
			}
			div {
				width: 168px;
			}
			#viewer-list {
				margin-top: 7px;
				input {
					margin-left: -12px;
					margin-bottom: 0;
					padding-right: 0px;
					width: 100%;
				}
			}
		}
		>.body > form > .half {
			width: auto;
			>div {
				width: auto;
				.area {
					width: 210px;
				}
			}
			div:nth-child(1) > .area {
				margin-right: 10px;
			}
			div:nth-last-child(1) > .area {
				margin-left: 10px;
				div {
					width: 268px;
				}
			}
		}
	}
	>#warning-alert {
		>.body {
			width: 280px;
			height: 110px;
			>:nth-child(1) {
				>div:nth-child(1) {
					margin-top: 10px;
					margin-left: 12px;
					width: 41px;
					height: 35px;
					.area > span {
						display: block;
						width: 41px;
						height: 35px;
					}
				}
				>div:nth-last-child(1) {
					width: auto;
					margin-top: 13px;
					>.area {
						margin-left: 10px;
						p:nth-child(1) {
							font: 14px "RixGo B";
							color: @tm-tx-c3;
						}
						p:nth-last-child(1) {
							font: 14px "RixGo L";
							color: @tm-tx-c2;
						}
					}
				}
			}
			>:nth-child(4) {
				>div:nth-child(1) > .area {
					margin-left: 12px;
					margin-right: 0;
					.button {
						width: 118px;
						height: 28px;
					}
				}
				>div:nth-child(2) > .area {
					margin-left: 6px;
					.button {
						width: 120px;
						height: 30px;
					}
				}

			}
			.line {
				margin-top: 19px;
				margin-bottom: 10px;
				width: 100%;
				height: 1px;
				background-color: #d6d6d6;
			}
		}
	}
}
#container.svg			#warning-alert > .body span { background: url("./images/warning.svg") no-repeat; }
#container				#warning-alert > .body span,
#container.decelerate	#warning-alert > .body span { background: url("./images/warning.png") no-repeat; }

/** Component Start **/
input[type="input"],
input[type="password"] {
	padding: 10px;
	font: 14px "RixGo L";
	border: 2px @tm-dk-c5 solid;
	color: @tm-tx-c3;
}
input[type="input"]:focus,
input[type="password"]:focus {
	border: 2px @tm-hl-c4 solid;
}
input[type="input"].error,
input[type="password"].error {
	border: 2px @tm-hl-c1 solid;
}
.button {
	display: table-cell;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	background-color: @tm-hl-c3;
	cursor: pointer;
}
.button:hover {
	background-color: @tm-hl-half-c3;
}
.button:before {
	content: attr(data-name);
	font: 12px "RixGo B";
	color: white;
}
.button.white { background-color: white; border: 1px #d6d6d6 solid; }
.button.white:before { color: @tm-dk-c2; }
.button.white:hover:before { color: @tm-dk-half-c2; }
.button.red { background-color: @tm-hl-c1; }
.button.red:hover { background-color: @tm-hl-half-c1; }
.button.purple { background-color: @tm-hl-c4; }
.button.purple:hover { background-color: @tm-hl-half-c4; }
.button.gray { background-color: @tm-dk-c1; }
.button.gray:hover { background-color: @tm-dk-half-c1; }
.button.black { background-color: @tm-dk-c3; }
.button.black:hover { background-color: @tm-dk-c1; }
>.radiobox {
	cursor: pointer;
	span {
		float: left;
		display: inline-block;
		*display: inline;
		width: 20px;
		height: 20px;
		border: 2px @tm-hl-c3 solid;
		background-color: white;
		background-position: 4px 5px;
		background-repeat: no-repeat;
		@multi-platform { border-radius: 12px; }
	}
	label {
		float: left;
		margin-top: 5px;
		margin-left: 7px;
		font: 14px "RixGo L";
	}
}
.radiobox:hover > span { background-color: @tm-hl-half-c3; }
>.radiobox {
	>span[data-value="checked"] {
		span {
			display: block;
			border: 0;
			margin: 2px;
			width: 16px;
			height: 16px;
			background-color: @tm-hl-c3;
			@multi-platform { border-radius: 8px; }
		}
	}
	>span[data-value="checked"] + label {
		font-family: "RixGo B";
	}
}
.radiobox.red > span { border: 2px @tm-hl-c1 solid; }
.radiobox.red:hover > span { background-color: @tm-hl-half-c1; }
.radiobox.red > span[data-value="checked"] > span { background-color: @tm-hl-c1; }
>.checkbox {
	cursor: pointer;
	span {
		float: left;
		display: inline-block;
		*display: inline;
		width: 20px;
		height: 20px;
		border: 2px @tm-hl-c3 solid;
		background-color: white;
		background-position: 4px 5px;
		background-repeat: no-repeat;
	}
	label {
		float: left;
		margin-top: 5px;
		margin-left: 7px;
		font: 14px "RixGo L";
	}
}
.checkbox:hover > span { background-color: @tm-hl-half-c3; }
>.checkbox[data-value="checked"] {
	span {
		border: 0;
		width: 24px;
		height: 24px;
		background-color: @tm-hl-c3;
	}
	label {
		font-family: "RixGo B";
	}
}
>.checkbox.half[data-value="halfed"] {
	span {
		border: 0;
		width: 24px;
		height: 24px;
		background-color: @tm-hl-c3;
		background-position: 5px 5px;
	}
	label {
		font-family: "RixGo B";
	}
}
.checkbox.red > span { border: 2px @tm-hl-c1 solid; }
.checkbox.red:hover > span { background-color: @tm-hl-half-c1; }
.checkbox.red[data-value="checked"] > span { border: 0; background-color: @tm-hl-c1; }
.checkbox.red.half[data-value="halfed"] > span { border: 0; background-color: @tm-hl-c1; }
#container.svg			.checkbox[data-value="checked"] > span { background-image: url("./images/checkbox.svg"); }
#container				.checkbox[data-value="checked"] > span,
#container.decelerate	.checkbox[data-value="checked"] > span { background-image: url("./images/checkbox.png"); }
#container.svg			.checkbox.half[data-value="halfed"] > span { background-image: url("./images/checkbox-half.svg"); }
#container				.checkbox.half[data-value="halfed"] > span,
#container.decelerate	.checkbox.half[data-value="halfed"] > span { background-image: url("./images/checkbox-half.png"); }
>.infobox {
	margin-right: 8px;
	span {
		float: left;
		display: inline-block;
		*display: inline;
		width: 40px;
		height: 40px;
		background-repeat: no-repeat;
	}
	span.occur { background: url("./images/occur.png") 4px 4px no-repeat; }
	span.reappear { background: url("./images/reappear.png") 4px 4px no-repeat; }
	span.status { background: url("./images/status.png") 4px 4px no-repeat; }
	span.createdate { background: url("./images/date.png") 4px 4px no-repeat; }
	span.updatedate { background: url("./images/update.png") 4px 4px no-repeat; }

	span.wifi { background: url("./images/wifi.png") 4px 4px no-repeat @tm-hl-c3; }
	span.gps { background: url("./images/gps.png") 4px 4px no-repeat @tm-hl-c3; }
	span.mobilenetwork { background: url("./images/mobilenetwork.png") 4px 4px no-repeat @tm-hl-c3; }
	span.memory { background: url("./images/memory.png") 4px 4px no-repeat @tm-hl-c3; }
	label {
		float: left;
		border: 2px @tm-hl-c3 solid;
		border-left: 0;
		padding-top: 8px;
		width: 88px;
		height: 28px;
		font: 16px "RixGo L";
		text-align: center;
	}
}
>.infobox.red {
	span { background-color: @tm-hl-c1; }
	label { border-color: @tm-hl-c1; }
}
.dropdown {
	position: relative;
	display: inline-block;
	*display: inline;
	height: 20px;
	border: 2px @tm-dk-c5 solid;
	padding: 8px;
	padding-right: 30px;
	background: white;
	a {
		float: left;
		margin-top: 2px;
		font: 14px "RixGo L";
		color: @tm-tx-c3;
		padding-left: 6px;
	}
}
.dropdown > span {
	float: right;
	position: relative;
	left: 30px;
	margin: 0;
	margin-top: -8px;
	width: 22px;
	height: 36px;
	background-color: white;
	background-position: 7px 15px;
	background-repeat: no-repeat;
	display: block;
}
#container.svg			.dropdown 					  		> span { background-image: url("./images/dropdown-dark.svg"); }
#container				.dropdown 					  		> span,
#container.decelerate	.dropdown 					  		> span { background-image: url("./images/dropdown-dark.png"); }
#container.svg			.dropdown[data-type="over"]   		> span,
#container.svg			.dropdown[data-type="clicked"]		> span { background-image: url("./images/dropdown.svg"); }
#container				.dropdown[data-type="over"]   		> span,
#container				.dropdown[data-type="clicked"]		> span,
#container.decelerate	.dropdown[data-type="over"]   		> span,
#container.decelerate	.dropdown[data-type="clicked"]		> span { background-image: url("./images/dropdown.png"); }
#container.svg			.dropdown.simple					> span { background-image: url("./images/dropdown-dark.svg"); }
#container				.dropdown.simple					> span,
#container.decelerate	.dropdown.simple					> span { background-image: url("./images/dropdown-dark.png"); }
#container.svg			.dropdown.simple[data-type="over"]	> span { background-image: url("./images/dropdown.svg"); }
#container				.dropdown.simple[data-type="over"]	> span,
#container.decelerate	.dropdown.simple[data-type="over"]	> span { background-image: url("./images/dropdown.png"); }
.dropdown[data-type="over"],
.dropdown[data-type="clicked"] {
	height: 20px;
	border: 0px;
	background-color: @tm-dk-c1;
	@padding{
		left: 10px;
		top: 10px;
		bottom: 10px;
	}
}
.dropdown[data-type="over"] > a,
.dropdown[data-type="clicked"] > a {
	color: white;
}
.dropdown[data-type="clicked"] > a { font-family: "RixGo B"; }
.dropdown[data-type="over"] > span,
.dropdown[data-type="clicked"] > span {
	margin-top: -10px;
	width: 24px;
	height: 40px;
	background-color: @tm-dk-c3;
	background-position: 7px 17px;
}
.dropdown[data-type="clicked"] > span {
	background-color: @tm-dk-c3;
	@multi-platform { transform: scaleY(-1); }
}
.dropdown.simple[data-type="over"] {
	height: 20px;
	padding: 8px;
	padding-right: 30px;
	background-color: white;
	border: 2px @tm-dk-c3 solid;
}
.dropdown.simple[data-type="over"] > a {
	font-family: "RixGo B";
	color: @tm-tx-c3;
}
.dropdown.simple[data-type="over"] > span {
	width: 22px;
	height: 36px;
	margin-top: -8px;
	@multi-platform { transform: scaleY(-1); }
}
>.dropdown > div {
	display: none;
	position: absolute;
	margin-left: -10px;
	margin-top: 30px;
	z-index: 4;
	overflow-y: scroll;
	@multi-platform { box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.27); }

	>ul {
		li {
			list-style: none;
			height: 20px;
			padding: 8px;
			padding-left: 10px;
			background-color: white;
		}
		>li:hover {
			background-color: @tm-hl-c3;
			a { color: white; }
		}
		li[data-value="true"] > a {
			font-family: "RixGo B";
		}
	}
}
.dropdown.multiple > a > .checkbox {
	margin-top: -4px;
	margin-left: -6px;
	margin-right: -6px;
}
.dropdown.multiple > div > ul > li > .checkbox {
	margin-top: -2px;
}
.scrollbar {
	position: relative;
	display: block;
	height: 40px;
	margin: 18px 10px 0px 0px;
}
>.scrollbar > ul {
	list-style: none;
	width: 100%;
	height: 10px;
	padding: 0 2px;
	margin-left: -2px;
	background-color: @tm-hl-c1;
	@multi-platform { border-radius: 5px; }

	>li {
		float: left;
		position: relative;
		display: inline;
		margin: 2px 0;
		height: 6px;
		cursor: pointer;
		span {
			display: block;
			width: 6px;
			height: 6px;
			background: white;
			@multi-platform { border-radius: 3px; }
		}
		a {
			position: absolute;
			display: block;
			margin-top: 9px;
			font: 12px "RixGo L";
			color: @tm-tx-c3;
		}
		a:nth-last-child(1) {
			display: none;
			font-family: "RixGo B";
			color: @tm-hl-c1;
		}
	}
	>li[data-value="true"] {
		span {
			width: 10px;
			height: 10px;
			margin-top: -7px;
			margin-left: -7px;
			border: 5px @tm-hl-dark-c1 solid;
			@multi-platform { border-radius: 10px; }
		}
		a { margin-top: 2px; }
		a:nth-last-child(2) { display: none; }
		a:nth-last-child(1) { display: block; }
	}
	li:nth-last-child(2) > a {
		left: 0;
	}
	>li:nth-last-child(1) {
		width: 6px !important;
		margin-left: -6px;
		a { right: 0; }
	}
}

>.disable-tags-list {
	ul, ol, li {
		display: block;
		margin: 0;
		padding: 0;
	}
	ol, ul {
		list-style: none;
	}
	>ul {
		@margin {
			top: 8px;
			right: 12px;
		}
		line-height: 24px;
		>li {
			float: left;
			display: block;
			border: 0;
			font: 12px "RixGo L";
			text-align: center;
			color: white;
			outline: none;
			margin: 0 8px 8px 0;
			vertical-align: top;
			background: @tm-hl-c3;
			@padding {
				top: 5px !important;
				left: 7px !important;
				right: 7px !important;
				bottom: 5px !important;
			}
			@multi-platform {
				border-radius: 2px;
				box-sizing: content-box;
			}
			cursor: pointer;
			i {
				position: absolute;
				display: none;
				margin-top: -20px;
				margin-left: -10px;
				width: 12px;
				height: 12px;
				border-radius: 6px;
			}
		}
	}
}

>.tags-list {
	ul, ol, li {
		display: block;
		margin: 0;
		padding: 0;
	}
	ol, ul {
		list-style: none;
	}
	>ul {
		@margin {
			top: 8px;
			right: 12px;
		}
		line-height: 24px;
		>li {
			float: left;
			display: block;
			border: 0;
			font: 12px "RixGo L";
			text-align: center;
			color: white;
			outline: none;
			margin: 0 8px 8px 0;
			vertical-align: top;
			background: @tm-hl-c3;
			@padding {
				top: 5px !important;
				left: 7px !important;
				right: 7px !important;
				bottom: 5px !important;
			}
			@multi-platform {
				border-radius: 2px;
				box-sizing: content-box;
			}
			cursor: pointer;
			i {
				position: absolute;
				display: none;
				margin-top: -20px;
				margin-left: -10px;
				width: 12px;
				height: 12px;
				border-radius: 6px;
			}
		}
		li:hover > i { display: block; }
		>li.dropdown {
			height: initial;
			a {
				margin: 0px;
				padding: 0px;
				color: white;
				font: 12px "RixGo L";
			}
			span {
				margin: 0;
				width: 20px;
				height: 12px;
				left: 0;
				background-position: 10px 4px;
				background-color: transparent;
			}
			div {
				margin-top: 18px;
			}
		}
		li:hover {
			background: @tm-hl-c5;
		}
		li:active {
			margin-top: 2px;
			padding-bottom: 3px !important;
			@multi-platform { box-shadow: 0 2px @tm-hl-c5; }
		}
		li.dropdown:active > div {
			margin-top: 16px;
		}
	}
}
#container.svg			.tags-list > ul > li > i { background: @tm-tx-c2 url("./images/x.svg") 3px 3px no-repeat; }
#container				.tags-list > ul > li > i,
#container.decelerate	.tags-list > ul > li > i { background: @tm-tx-c2 url("./images/x.png") 3px 3px no-repeat; }

.tags-list.user-input {
	input {
		display: none;
		width: 80px;
		padding: 2px;
		margin: -4px -6px;
		font-size: 12px;
	}
	>li.dropdown[data-type="clicked"] {
		a {
			display: none;
		}
		span {
			display: none;
		}
		input {
			display: block;
		}
	}
}
.thumbnail {
	width: 32px;
	height: 32px;
	border-radius: 5px;
	background-color: @tm-dk-c1;
}
.thumbnail.large {
	width: 120px;
	height: 120px;
}
.thumbnail.middle {
	width: 36px;
	height: 36px;
}
.thumbnail.small {
	width: 24px;
	height: 24px;
}

.left { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
.bold { font-family: "RixGo B"; }


/** Component End **/

#header-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: @(header-size+2);
	z-index: 9999;
}
#header {
	width: 100%;
	height: @header-size;
	background-color: @tm-dk-c2;
}
.logo {
	float: left;
	width: 230px;
	height: @header-size;
}
.notification {
	display: block;
	position: absolute;
	padding: 2px;
	font: 500 11px "Helvetica";
	color: white;
	background-color: @tm-hl-c1;
	@multi-platform { border-radius: 3px; }
}
.notification:before { content: attr(data); }
.notification[data=""], span > .notification[data="0"] { display: none; }

#container.svg			.logo { background: url("./images/UrQA.svg") 0px 2px no-repeat; }
#container				.logo,
#container.decelerate	.logo { background: url("./images/UrQA.png") 0px 2px no-repeat; }
>.navbar-menu
{
	float: left;
	height: @header-size;
	
	>ul > li {
		float: left;
		width: 110px;
		list-style: none;
		text-align: center;
		cursor: pointer;
		
		a {
			display: block;
			padding: @((header-size - 14) / 2) 0px;
			font: 500 14px "Helvetica";
			color: @tm-tx-c2;
		}
		a:hover, a:focus {
			color: @tm-tx-c1;
			background-color: @tm-dk-c3;
		}
	}
}
body.insight .navbar-menu > ul > li:nth-child(1) > a,
body.errors .navbar-menu > ul > li:nth-child(2) > a,
body.error .navbar-menu > ul > li:nth-child(2) > a,
body.statistics .navbar-menu > ul > li:nth-child(3) > a {
	color: @tm-tx-c1;
	background: @tm-dk-c3;
}
#header .navbar-profile {
	overflow: hidden;
	float: right;
	height: @(header-size - 12);
	margin: 6px 0px;
	margin-right: 10px;
	background-color: @tm-dk-c3;

	@multi-platform { border-radius: 3px; }
}
.navbar-profile > .projectname {
    float: left;
    height: 100%;
    font: 700 13px "Helvetica"; color: white;
    text-align: center;
    display:table;
}
.projectname >.name{
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}
#header > .navbar-profile > .profile{
    float: right;
	width: 44px;
	height: @(header-size - 12);

	@multi-platform {
		@transition {
			property: background-color;
			duration: 0.1s;
			timing-function: ease-in-out;
		}
	}
    background-color: @tm-hl-c4;
}
#header > .navbar-profile > .profile > img {
	width: 44px;
	height: @(header-size - 12);
	@multi-platform { @border { top-right-radius: 3px; bottom-right-radius: 3px; } transition: opacity 0.1s ease-in-out; }
}

>#profile-menu
{
	position: absolute;
	display: none;
	top: 45px;
	right: 10px;
	width: 270px;
	height: 186px;
	opacity: 0.0;
	@multi-platform { transition: opacity 0.1s ease-in-out; }
	
	.inv-triangle {
		position: relative;
		margin-left: auto;
		margin-right: 14px;
		width: 0;
		height: 0; 
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid @tm-hl-c4;
		z-index: 3;
	}
	.shadow { @multi-platform { box-shadow: 0 0 3px rgba(0,0,0,.5); } }
	>.color {
		position: relative;
		width: 100%;
		height: 86px;
		background-color: @tm-hl-c4;
		@multi-platform { @border { top-left-radius: 4px; top-right-radius: 4px; } }
		z-index: 2;
		
		img {
			float: left;
			margin: 11px 7px 11px 16px;
			width: 56px;
			height: 56px;
			@multi-platform { border-radius: 56px; }
			border: 4px @tm-dk-c2 solid
			overflow: hidden;
		}
		.text { float: left; margin-top: 26px; }
	}
	.color .name { font: 700 16px "Helvetica"; color: white; }
	.color .user-style { margin-top: 2px; font: 500 12px "Helvetica"; color: @tm-tx-c2; }
	
	>.white
	{
		width: 100%;
		height: 100px;
		background-color: white;
		@multi-platform { @border { bottom-left-radius: 4px; bottom-right-radius: 4px; } }
		
		>.content
		{
			height: 100px;
			span {
				float: left;
				display: block;
				
				margin-top: 18px;
				width: 89px;
				height: 64px;
				cursor: pointer;
				@multi-platform { border-right: 1px @tm-dk-c4 solid; }
			}
			span > .notification { margin-top: 4px; margin-left: 44px; }
			span > .icon { width: 34px; height: 34px; margin-left: 28px; margin-top: 8px; padding-bottom: 6px; }
			span > .text { font: 700 10px "Helvetica"; text-align: center; }
			span:nth-last-child(1) {
				width: 90px;
				@multi-platform { border-right: 0px; }
			}
		}
	}
}
#container.svg			#profile-menu > .white > .content > span:nth-child(1) > .icon { background: url("./images/profile.svg") 0px 2px no-repeat; }
#container				#profile-menu > .white > .content > span:nth-child(1) > .icon,
#container.decelerate	#profile-menu > .white > .content > span:nth-child(1) > .icon { background: url("./images/profile.png") 0px 2px no-repeat; }
#container.svg			#profile-menu > .white > .content > span:nth-child(2) > .icon { background: url("./images/notification.svg") 0px 2px no-repeat; }
#container				#profile-menu > .white > .content > span:nth-child(2) > .icon,
#container.decelerate	#profile-menu > .white > .content > span:nth-child(2) > .icon { background: url("./images/notification.png") 0px 2px no-repeat; }
#container.svg			#profile-menu > .white > .content > span:nth-child(3) > .icon { background: url("./images/logout.svg") 0px 2px no-repeat; }
#container				#profile-menu > .white > .content > span:nth-child(3) > .icon,
#container.decelerate	#profile-menu > .white > .content > span:nth-child(3) > .icon { background: url("./images/logout.png") 0px 2px no-repeat; }

#color-line div { float: left; width: 25%; height: 2px; }
#color-line .color1 { background-color: @tm-hl-c1; }
#color-line .color2 { background-color: @tm-hl-c2; }
#color-line .color3 { background-color: @tm-hl-c3; }
#color-line .color4 { background-color: @tm-hl-c4; }

#body-header {
	position: absolute;
	margin-left: -150px;
	top: 100px;
	left: 50%;
	width: 300px;
	font: 800 18px "Helvetica";
	color: white;
	text-align: center;
	@multi-platform { text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.33); }
}

html.login #body-header {
	padding-top: 50px;
	top: 50px;
	height: 240px;
	background: url("./images/UrQA.png") 15px 0px no-repeat;
	@multi-platform { text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9); }
}
#logout-header {
	position: absolute;
	width: 0;
	height: 0;
	margin-top: -10px;
	margin-left: -46px;
	border-left: 71px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 70px solid rgba(255, 255, 255, 0.2);
	@multi-platform { transform: rotate(-45deg); }
	cursor: pointer;
	p {
		position: relative;
		margin-left: -24px;
		margin-top: 50px;
		font: 14px "RixGo L";
		text-align: center;
		color: white;
	}
}
#logout-header:hover {
	border-bottom-color: rgba(255, 255, 255, 0.5);
}
#tutorial-header {
        position: absolute;
        width: 0;
        height: 0;
        right: 0px;
        margin-top: -10px;
        margin-right: -46px;
        border-left: 71px solid transparent;
        border-right: 70px solid transparent;
        border-bottom: 70px solid rgba(255, 255, 255, 0.2);
        @multi-platform { transform: rotate(45deg); }
        cursor: pointer;
        p {
                position: relative;
                margin-left: -24px;
                margin-top: 50px;
                font: 14px "RixGo L";
                text-align: center;
                color: white;
        }
}
#tutorial-header:hover {
        border-bottom-color: rgba(255, 255, 255, 0.5);
}
>#loginbox {
	position: absolute;
	width: 240px;
	height: 305px;
	border-radius: 12px;
	background-color: white;
	@multi-platform { box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.33); }

	div.header {
		margin-bottom: 14px;
		padding-top: 17px;
		height: 37px;
		@border-top {
			left-radius: 12px;
			right-radius: 12px;
		}
		font: 16px "RixGo B";
		text-align: center;
		background-color: @tm-hl-c4;
		color: white;
	}
	>div.content {
		margin-left: 17px;
		span {
			display: block;
			font: 12px "RixGo EB";
			color: @tm-hl-c4;
			margin-bottom: 2px;
		}
		input {
			width: 186px;
			margin-bottom: 10px;
		}
	}
	>div.footer {
		margin-top: 4px;
		text-align: center;
		label {
			font: 11px "RixGo L";
			cursor: pointer;
		}
		span {
			display: inline-block;
			width: 6px;
			height: 6px;
			border-radius: 3px;
			background-color: @tm-hl-c4;
			@margin {
				left: 6px;
				right: 6px;
			}
		}
	}
}

>#project-list {
	>.list {
		position: absolute;
		>div {
			float: left;
			display: block;
			width: 150px;
			height: 150px;
			margin-right: 15px;
			margin-bottom: 15px;
			border-radius: 10px;
			background-color: @project-nonselect;
			>a {
				cursor: pointer;
				div:nth-child(1) {
					position: absolute;
					width: 150px;
					height: 98px;
					margin-top: 10px;
					background: url("./images/glass.png") no-repeat;
				}
				div:nth-child(2) {
					position: absolute;
					margin-left: -6px;
					margin-top: -6px;
					width: 32px;
					height: 32px;
					border-radius: 16px;
					background-color: @project-nonselect;
				}
				span {
					display: block;
					height: 30px;
					>label {
                        padding-top : 4px;
						position: relative;
						display: block;
						margin-top: 4px;
						width: 150px;
						font: 16px "RixGo B";
						color: @tm-tx-c3;
						text-align: center;
						vertical-align: middle;
					}
				}
				>p {
					display: block;
					padding-top: 18px;
					width: 150px;
					height: 54px;
					font: 14px "RixGo B";
					text-align: center;
					color: white;
					span {
						display: block;
						font-size: 18px;
					}
					span#score{
						font-size: 22px;
					}
				}
				p.red {
					background-color: @tm-hl-c1;
				}
				p.green {
					background-color: @tm-hl-light-c2;
				}
				p.blue {
					background-color: @tm-hl-light-c3;
				}
				p.purple {
					background-color: @tm-hl-c4;
				}
			}
            >div#stage {
				display: block;
                padding-top: 10px;
				width: 150px;
				font: 12px "RixGo B";
				color: @tm-tx-c3;
				text-align: center;
			}
			>label {
				display: block;
                position: relative;
				margin-top: 4px;
				width: 150px;
				font: 12px  "RixGo L";
				color: @tm-tx-c3;
				text-align : center;
				span {
					margin-top: 2px;
					font-family: "RixGo L";
					font-size: 10px;
				}
			}

		}
		>div:hover {
			background-color: white;
			div:nth-child(2) {
				background-color: white;
			}
		}
	}
	>.add {
		position: absolute;
		margin-left: -70px;
		margin-top: -60px;
		left: 100%;
		top: 50%;
		width: 70px;
		height: 120px;
		@border {
			top-left-radius: 10px;
			bottom-left-radius: 10px;
		}
		background-color: rgba(255,255,255,0.2);
		@multi-platform { transition: all 0.25s ease-in-out; }
		cursor: pointer;
		div {
			width: 32px;
			height: 32px;
			@margin {
				left: 23px;
				top: 44px;
			}
			opacity: 0.5;
			@multi-platform { transition: all 0.25s ease-in-out; }
		}
	}
	>.add:hover {
		width: 84px;
		margin-left: -84px;
		background-color: rgba(255,255,255,0.4);
		div {
			opacity: 0.7;
		}
	}
}
#container.svg			#project-list > .list > div > a > div:nth-child(2).android { background-image: url("./images/android-icon.svg"); }
#container				#project-list > .list > div > a > div:nth-child(2).android,
#container.decelerate	#project-list > .list > div > a > div:nth-child(2).android { background-image: url("./images/android-icon.png"); }
#container.svg			#project-list > .list > div > a > div:nth-child(2).iphone { background-image: url("./images/iphone-icon.svg"); }
#container				#project-list > .list > div > a > div:nth-child(2).iphone,
#container.decelerate	#project-list > .list > div > a > div:nth-child(2).iphone { background-image: url("./images/iphone-icon.png"); }

#container.svg			#project-list > .add > div { background: url("./images/plus.svg") no-repeat; }
#container				#project-list > .add > div,
#container.decelerate	#project-list > .add > div { background: url("./images/plus.png") no-repeat; }

#content-container > .android { background-image: url("./images/android-icon.png"); }
#content-container > .iphone  { background-image: url("./images/iphone-icon.png"); }

>#content-container {
	@margin{
		left: 40px;
		right: 40px;
		top: 80px;
	}
	.content {
		width: 100%;
		margin-top: 20px;
	}
}
#content-container {
	.title:before { 
		text-transform: capitalize;
		content: attr(data);
		padding-left: 46px;
		color: @tm-tx-c3;
	}
	.title {
		font: 700 24px "Helvetica";
		height: 31px;
		margin-top: 20px;
		padding-top: 5px;
		span {
			font-weight: 500;
			font-size: 14px;
		}
	}
}
.table-button {
	margin-top: -28px;
	margin-left: -100px;
	padding-left: 100%;
	.button {
		width: 100px;
		height: 25px;
		padding-top: 1px;
	}
}
.white-area {
	clear: both;
	float: none;
	width: 100% !important;
	height: 1px !important;
}
.half > div { float: left; width: 50%; }
.half .area { height: 100%; }
.half > div:nth-child(1) > .area { margin-right: 20px; }
.half > div:nth-child(2) > .area { margin-left: 20px; }
.half.mini > div:nth-child(1) > .area { margin-right: 5px; }
.half.mini > div:nth-child(2) > .area { margin-left: 5px; }

.quarter > div { float: left; width: 25%; }
.quarter .area { height: 100%; }
.quarter > div:nth-child(1) > .area { margin-right: 10px; }
.quarter > div:nth-child(2) > .area { margin-right: 10px; margin-left: 10px; }
.quarter > div:nth-child(3) > .area { margin-right: 10px; margin-left: 10px; }
.quarter > div:nth-child(4) > .area { margin-left: 10px; }
.quarter.mini > div:nth-child(1) > .area { margin-right: 5px; }
.quarter.mini > div:nth-child(2) > .area { margin-left: 5px; margin-right: 5px; }
.quarter.mini > div:nth-child(3) > .area { margin-left: 5px; margin-right: 5px; }
.quarter.mini > div:nth-child(4) > .area { margin-left: 5px; }
table {
	width: 100%;
	/*margin-top: 40px;*/
	border-collapse: collapse;
	@multi-platform { box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.27); }

	tr { height: 40px; }
	thead {
		background-color: @tm-dk-c3;
		td {
			font: 14px "RixGo B";
			color: white;

			@padding {
				left: 12px;
			}
		}
	}
	tbody {
		tr:nth-child(2n+1) { background: white; }
		tr:nth-child(2n) { background: @table-even-cell; }
		tr:not(.notHover):hover { background-color: @tm-hl-half-c2; }
		td:nth-child(1){
			font: 18px "RixGo L";
			color: @tm-tx-c3;
			vertical-align: middle;
			@padding {
				left: 12px;
			}
			p {
				width: 0px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
        td{
			font: 14px "RixGo L";
			color: @tm-tx-c3;
			vertical-align: middle;
			@padding {
				left: 12px;
			}
			p {
				width: 0px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		.empty { display: none; }
	}
	td.right { @padding { left: 0px; right: 12px; } }
	td.center { padding-left: 0px; }
	td.small { font-size: 12px; }
	.float { float: none !important; clear: both; }
	.float > :nth-child(n) { float: left; }
}
.notHover:not(.retention){
    height: 300px
}

table.top { margin-top: 0; }
table.clickon > tbody > tr { cursor: pointer; }
table div.dropdown { margin-bottom: -4px; }
table.small div.dropdown { margin-bottom: -3px; }
table.content-large div.dropdown { margin-bottom: 0; }
table.small {
	tr { height: 32px; }
	thead td { font-size: 12px; }
	tbody td { font-size: 12px; }
}
table.content-large {
	tbody tr { cursor:pointer; height: 64px; }
	>tbody .float {
		span {
			margin-top: 2px;
            margin-right: 5px;
			width: 28px;
			height: 28px;
			color: white;
			border-radius: 2px;
		}
        p{
            width : 100%;
        }
        span.quantitydisable{
             background-image: url("./images/quantity_mini.png");
        }
        span.quantityensable{
             background-image: url("./images/quantity_mini_d.png");
        }
        span.newdisable{
             background-image: url("./images/clock_mini.png");
        }
        span.newenable{
             background-image: url("./images/clock_mini_d.png");
        }

		span.red {
            background-color: @indicators-color4;
            background-image: url("./images/critical-body.png");
            background-size: 100%;
        }
		span.blue {
            background-color: @indicators-color2;
            background-image: url("./images/major-body.svg");
            background-size: 100%;
        }
		span.green {
            background-color: @indicators-color3;
            background-image: url("./images/minor-body.svg");
            background-size: 100%;
        }
		span.purple {
            background-color: @indicators-color5;
            background-image: url("./images/native-body.svg");
            background-size: 100%;
        }
		span.gray {
            background-color: @indicators-color1;
            background-image: url("./images/unhandle-body.png");
            background-size: 100%;
        }
	}
}
table.content-small {
	tr { height: 32px; }
	thead td { font-size: 12px; }
	tbody td { font-size: 12px; }
	>tbody .float {
		span {
			margin-right: 12px;
			width: 32px;
			height: 32px;
			color: white;
		}
	}
}
>table.sort > thead > tr {
	td { cursor: pointer; }
	td > span {
		display: inline-block;
		width: 10px;
		height: 6px;
		background-position: 12px 6px;
		background-repeat: no-repeat;
		margin-left: 8px;
		padding-bottom: 1px;
	}
	td.desc > span {
		background-position: 0px 0px;
	}
	td.asc > span {
		height: 7px;
		background-position: 0px 1px;
		@multi-platform { transform: scaleY(-1); }
	}
}
#container.svg			table.sort > thead > tr > td > span { background-image: url("./images/dropdown.svg"); }
#container				table.sort > thead > tr > td > span,
#container.decelerate	table.sort > thead > tr > td > span { background-image: url("./images/dropdown.png"); }

>.page-changer {
	margin-top: 10px;
	width: 100%;
	text-align: center;
	>ul {
		display: inline-block;
		@multi-platform { box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.11); }
		li {
			float: left;
			display: block;
			list-style: none;
			width: 20px;
			padding: 8px;
			text-align: center;
			font: 12px "RixGo L";
			background-color: white;
			cursor: pointer;
		}
		li:hover { background-color: @tm-hl-half-c2; }
		li.dont { background-color: @tm-dk-half-c1; cursor: default; }
		li.select { font: 12px "RixGo B"; background-color: @tm-dk-c3; color: white; cursor: default; }
		li:nth-child(1) { border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
		li:nth-last-child(1) { border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
	}
}
.y-scroll {
	overflow-y: scroll;
}
#popup-info {
	position: absolute;
	display: none;
	left: 0px;
	top: 0px;

	opacity: 0.0;
}
#popup-tri {
	margin-left: 40px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #373737;
}
#popup-body {
	padding: 10px;
	width: 100px;
	min-height: 18px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	background-color: #373737;
}
#popup-title {
	margin-left: 4px;
	font: 500 16px "Helvetica";
	color: #f2f2ea;
	text-align: center;
}
#dashboard-graph > div {
	height: 200px;
	.title {
		margin-top: 0px;
		margin-left: -20px;
	}
	.area {
		height: 169px;
	}
}
#error-list tbody td:nth-child(1) > p { margin-top: 4px; }
#error-tag-list > .tags-list > ul > span {
	float: left;
	width: 6px;
	height: 54px;
	margin-right: 6px;
	margin-bottom: 8px;
	background-color: @tm-dk-c3;
}
>#content-container {
	#critical-information {
		width: auto;
		>table {
			margin-top: 20px;
			tbody > tr > td {
				vertical-align: top;
				padding: 12px;
				div {
					margin-bottom: 8px;
					color: @tm-tx-c3;
				}
				div.thumbnail {
					padding-top: 52px;
					height: 68px;
					font: 14px "RixGo B";
					text-align: center;
					color: white;
				}
				div.thumbnail.red { background-color: @indicators-color4; }
				div.thumbnail.red:before { content: "Critical Risk"; }
				div.thumbnail.blue { background-color: @indicators-color2; }
				div.thumbnail.blue:before { content: "Major Risk"; }
				div.thumbnail.green { background-color: @indicators-color3; }
				div.thumbnail.green:before { content: "Minor Risk"; }
				div.thumbnail.gray { background-color: @indicators-color1; }
				div.thumbnail.gray:before { color: @tm-tx-c3; content: "Unhandled"; }
				div.thumbnail.purple { background-color: @indicators-color5; }
				div.thumbnail.purple:before { content: "Native Risk"; }
				#error-name {
					margin-top: 10px;
					font: 18px "RixGo B";
				}
				#error-file {
					margin-top: 6px;
					margin-bottom: 22px;
					font: 16px "RixGo L";
				}
			}
			tbody > tr > td > span {
				display: block;
				float: none;
				clear: both;
				padding-top: 12px;
				margin-bottom: -4px;
				font: 16px "RixGo B";
			}
		}
		#error-score {
			position: absolute;
			margin-top: -20px;
			right: 40px;
			width: 90px;
			height: 90px;
			border: 6px @tm-bg solid;
			border-radius: 51px;
			div {
				padding-top: 22px;
				width: 78px;
				height: 58px;
				border: 6px @tm-hl-c3 solid;
				border-radius: 45px;
				font: 12px "RixGo L";
				text-align: center;
				color: white;
				background-color: @tm-dk-c3;
				p { font: 24px "RixGo B"; }
			}
		}
		#error-score.red div {
			border-color: @tm-hl-c1;
			p { font-size: 20px; }
		}
	}
	#comments > table {
		margin-top: -5px;
		>td.float {
			img {
				margin-right: 0px;
				width: 32px;
				height: 32px;
				color: white;
			}
			p {
				float: none;
				width: auto;
				margin: 4px;
			}
			p:nth-child(1) {
				font-family: "RixGo B";
			}
			p:nth-child(2) {
				text-overflow: inherit;
				white-space: inherit;
				font-family: "RixGo L";
			}
		}
	}
	#instance > table {
		margin-top: -10px;
	}
    #call-stack > table {
        margin-top: -10px;
    }
	#call-stack-native > table {
        margin-top: -10px;
        tbody {
		tr:nth-child(n) { background: white; }
		tr:not(.notHover):hover { background-color: @tm-hl-half-c2; }
		td {
			font: 14px "Fixedsys500c";
			color: @tm-tx-c3;
			vertical-align: middle;
			@padding {
				left: 12px;
			}
			p {
                font: 16px "Fixedsys500c";
				width: 0px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
		}
		.empty { display: none; }
	    }
	}
	#class-error-count {
		table {
			margin-top: 20px;
		}
	}
}
#cecs svg {
	height: 300px;
}
#decs svg {
	height: 300px;
}
#ebas svg {
	height: 300px;
}
#vers {
	height: 300px;
}
#osver {
	height: 300px;
}
#appver {
	height: 300px;
}
#dever {
	height: 300px;
}
#counver {
	height: 300px;
}
>#content-container #event-path-parent {
	padding-left: 0;
	#event-path {
		display: block;
		text-align: center;
		overflow-x: scroll !important;
		position: relative;
		margin: auto;
	}
}
#critical-information .infobox.red .dropdown { margin-top: -8px; height: 16px; }
#critical-information .infobox.red .dropdown > a { width: 18px; margin-top: 0; }
#critical-information .infobox.red .dropdown > span { background-position-y: 13px; height: 32px; }
#critical-information .infobox.red .dropdown > div { margin-top: 26px; }
#critical-information .infobox.red .dropdown[data-type="over"] span { background-position-y: 15px; height: 36px; }
#critical-information .infobox.red .dropdown[data-type="clicked"] span { background-position-y: 15px; height: 36px; }
#container.svg			#content-container > #critical-information table > tbody > tr > td div.thumbnail.red { background-image: url("./images/critical-body.png"); }
#container				#content-container > #critical-information table > tbody > tr > td div.thumbnail.red,
#container.decelerate	#content-container > #critical-information table > tbody > tr > td div.thumbnail.red { background-image: url("./images/critical-body.png"); }
#container.svg			#content-container > #critical-information table > tbody > tr > td div.thumbnail.blue { background-image: url("./images/major-body.svg"); }
#container				#content-container > #critical-information table > tbody > tr > td div.thumbnail.blue,
#container.decelerate	#content-container > #critical-information table > tbody > tr > td div.thumbnail.blue { background-image: url("./images/major-body.png"); }
#container.svg			#content-container > #critical-information table > tbody > tr > td div.thumbnail.green { background-image: url("./images/minor-body.svg"); }
#container				#content-container > #critical-information table > tbody > tr > td div.thumbnail.green,
#container.decelerate	#content-container > #critical-information table > tbody > tr > td div.thumbnail.green { background-image: url("./images/minor-body.png"); }
#container.svg			#content-container > #critical-information table > tbody > tr > td div.thumbnail.purple { background-image: url("./images/native-body.svg"); }
#container				#content-container > #critical-information table > tbody > tr > td div.thumbnail.purple,
#container.decelerate	#content-container > #critical-information table > tbody > tr > td div.thumbnail.purple { background-image: url("./images/native-body.png"); }
#container.svg			#content-container > #critical-information table > tbody > tr > td div.thumbnail.gray { background-image: url("./images/unhandle-body.png"); }
#container				#content-container > #critical-information table > tbody > tr > td div.thumbnail.gray,
#container.decelerate	#content-container > #critical-information table > tbody > tr > td div.thumbnail.gray { background-image: url("./images/unhandle-body.png"); }

#container.svg			#content-container > .title[data="dashboard"] { background: url("./images/dashboard.svg") no-repeat; }
#container				#content-container > .title[data="dashboard"],
#container.decelerate	#content-container > .title[data="dashboard"] { background: url("./images/dashboard.png") no-repeat; }
						#content-container > .title[data="daily"]:before { padding-left: 0px; }
						#content-container > .title[data="rank"]:before { padding-left: 0px; }
#container.svg			#content-container > .title[data="errors"] { background: url("./images/errors.svg") no-repeat; }
#container				#content-container > .title[data="errors"],
#container.decelerate	#content-container > .title[data="errors"] { background: url("./images/errors.png") no-repeat; }
#container.svg			#content-container > .title[data="critical"] { background: url("./images/critical-information.svg") no-repeat; }
#container				#content-container > .title[data="critical"],
#container.decelerate	#content-container > .title[data="critical"] { background: url("./images/critical-information.png") no-repeat; }
						#content-container > .title[data="statistic"]:before { padding-left: 0px; }
						#content-container > .title[data="event-path"]:before { padding-left: 0px; }
						#content-container > .title[data="call-stack"]:before { padding-left: 0px; }
						#content-container > .title[data="instance"]:before { padding-left: 0px; }
                        #content-container > .title[data="comments"]:before { padding-left: 0px; }
#container.svg			#content-container > .title[data="statistics"] { background: url("./images/statistics.svg") no-repeat; }
#container				#content-container > .title[data="statistics"],
#container.decelerate	#content-container > .title[data="statistics"] { background: url("./images/statistics.png") no-repeat; }
						#content-container > .title[data="class"]:before { padding-left: 0px; }
						#content-container > .title[data="device"]:before { padding-left: 0px; }
						#content-container > .title[data="country"]:before { padding-left: 0px; }
						#content-container > .title[data="error"]:before { padding-left: 0px; }
						#content-container > .title[data="version"]:before { padding-left: 0px; }
						#content-container > .title[data="retention"]:before { padding-left: 0px; }

#footer-container {
	margin-top: 20px;
	padding-top: 4px;
	width: 100%;
	height: 16px;
	font: 10px "RixGo L";
	text-align: center;
	color: @tm-tx-c2;
	background-color: @tm-dk-c3;
}


.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.d3-tip text {
    fill: #fff;
    font-size: 12px;
    stroke: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

svg {
    font: 10px sans-serif;
}

    .axis path, .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

sup, sub {
    line-height: 0;
}

q:before,
blockquote:before {
    content: "“";
}

q:after,
blockquote:after {
    content: "”";
}

blockquote:before {
    position: absolute;
    left: 2em;
}

blockquote:after {
    position: absolute;
}
#chart {
    height: 300px;
}
.node rect {
    cursor: move;
    fill-opacity: 1;
    shape-rendering: crispEdges;
}
.node rect:hover {
    fill-opacity: .2;
}
.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}
.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}
.link:hover {
    stroke-opacity: .5;
}

.noerror_msg{
    margin-top:30px;
    margin-bottom: 30px;
    font: 20px "RixGo B";
    color: @tm-tx-c3;
    text-align: center;
}

#recommand-msg{
    margin-top: 30px;
    font: 18px "RixGo B";
}

table > tbody > tr > td > div.version-panel{
    height: 32px;
    .button{
        height: 22px;
        background-color: @tm-dk-half-c1;
        border-radius: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        float: left;
        cursor: pointer;
        > label{
            float: left;
            width: 100%;
            margin-top: 4px;
            font: 14px 'RixGo L';
            color: #fff;
            text-align: center;
            cursor: pointer;
        }
    }
    > .button:hover{
        background-color: @tm-hl-half-c1;
    }
    .button[data-value="checked"]{
        background-color: @tm-hl-c1;
    }
    .separator{
        height: 22px;
        width: 1%;
        margin-top: 5px;
        margin-bottom: 5px;
        float: left;
    }
}
